[2019-11-02 17:58] brandonskerritt opened #2 "Rewrite"
For hash busting: hash buster
for

[2020-01-24 04:28] alexmardis opened #8 "When I run the "pip install -r requirements.txt""
I may just not be intelligible enough with command line to run this,  but I really want to try it out. When I run the "pip install -r requirements.txt" I get an exception and HTTPError.
"python main.py" does not work after this.

"
Exception: Traceback (most recent call last):
 File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main status = self.run(options, args)
 File "/us

[2020-03-31 14:03] theteep commented on #8
Same problem here, Ubuntu 18.04:

Collecting cloud-init==19.1 (from -r requirements.txt (line 10))
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/install.py", line 353, in run
    wb.build(autobuilding=True)
  File "/usr/lib/pytho

[2020-04-25 15:13] brandonskerritt commented on #8
Woah! Hey! Didn't expect people wanted to try this out. I'll investigate the issue! :) Thanks so much for posting an issue!

[2020-04-25 15:15] brandonskerritt opened #10 "Fix that one weird Ciphey bug that only happens on Macs"

[2020-04-25 15:15] #2 closed

[2020-04-25 16:52] brandonskerritt opened #11 "Make it so you can just run python3 main"

[2020-04-25 16:52] brandonskerritt opened #12 "Language checker issue"

[2020-04-25 16:52] brandonskerritt commented on #12
python3 main.py -t "hello"
Traceback (most recent call last):
  File "main.py", line 230, in <module>
    cipherObj = Ciphey(args['text'], cipher)
  File "main.py", line 25, in __init__
    self.lc = LanguageChecker()
TypeError: 'module' object is not callable

[2020-04-25 16:53] brandonskerritt commented on #11
It's in fluent Python somewhere

[2020-04-25 17:05] bee-san opened #13 "Make Language Checker work for all languages"

[2020-04-25 17:09] brandonskerritt commented on #8
Okay! Fixed the bug, and some other bugs in 90ed7ec06271382ab30f0fe7cfb6715989dcf49b and 46358c5f4cd471600cf07aeb1f41d59d462b95d5

[2020-04-25 17:09] #8 closed

[2020-04-25 17:09] brandonskerritt opened #14 "Fix Affine Cipher"

[2020-04-25 17:10] brandonskerritt commented on #14
Affine cipher runs on forever and never stops

[2020-04-25 17:10] brandonskerritt commented on #12
Fixed issue in 90ed7ec06271382ab30f0fe7cfb6715989dcf49b

[2020-04-25 17:10] #12 closed

[2020-04-25 17:11] #10 closed

[2020-04-25 20:43] brandonskerritt opened #15 "Delete unused files"

[2020-04-25 23:38] brandonskerritt opened #16 "Fix linter errors"
see action

[2020-04-26 01:29] brandonskerritt opened #17 "Implement easy exporting of data"

[2020-04-26 14:03] brandonskerritt opened #18 "More decryption modules such as BASE32 needed"
Ciphey is in need of more decryption modules. Check out the [README](https://github.com/brandonskerritt/Ciphey/blob/master/README.MD) to learn how to add a decryption module.

In particular, we're looking to get more BASE encodings such as:
* Decode from Base32
* Decode from Base58
* Decode from Base62
* Decode from base85

But if you have any ideas for other decryptions / encodings, they will als

[2020-04-26 14:21] brandonskerritt opened #19 "Make Ciphey say what it's doing"
It sucks staring at a blank terminal until Ciphey is done, make Ciphey name what ciphers it is trying.

[2020-04-27 14:30] brandonskerritt opened #20 "Fix Pytests"

[2020-04-27 14:30] brandonskerritt opened #21 "Upload to PyPi"

[2020-04-27 14:30] #15 closed

[2020-04-27 14:30] brandonskerritt commented on #17
like, unix redirects ciphey > output.txt

[2020-04-30 13:39] #11 closed

[2020-04-30 13:39] #20 closed

[2020-04-30 13:39] #21 closed

[2020-04-30 13:39] brandonskerritt opened #23 "Install from PIP error"
Traceback (most recent call last):
  File ".virtualenvs/huginn/bin/ciphey", line 5, in <module>
    from app.__main__ import main
ModuleNotFoundError: No module named 'app'

I think this is caused by setup.py

[2020-04-30 20:41] #19 closed

[2020-04-30 20:41] #16 closed

[2020-05-01 15:22] brandonskerritt opened #24 "Make output greppable"

[2020-05-01 15:22] brandonskerritt opened #25 "Fix Transposition cipher"

[2020-05-01 15:22] brandonskerritt opened #26 "Fix affine cipher"

[2020-05-01 15:22] brandonskerritt opened #27 "Allow import of module"

[2020-05-02 02:18] #23 closed

[2020-05-02 02:18] brandonskerritt opened #28 "Can't import Ciphey"

[2020-05-02 17:15] #28 closed

[2020-05-02 17:19] bee-san opened #30 "Upload to AUR"

[2020-05-03 13:52] #24 closed

[2020-05-03 13:52] #27 closed

[2020-05-08 14:05] brandonskerritt opened #31 "Fix the AI probability table"

[2020-05-09 14:31] brandonskerritt commented on #31
Think I solved it, it wasn't resetting the dictionary in the search for max algorithm

[2020-05-09 14:40] brandonskerritt commented on #31
I feel like it's important to also sort the dict pairs individually too. Like not just parents but also the items in those dicts

[2020-05-09 14:57] brandonskerritt commented on #31
Okay, if I put the sorting dicts on values into the for loop to find max dict pair, it _should_ work

[2020-05-09 19:19] brandonskerritt opened #32 "I broke base decoding lol"

[2020-05-09 19:19] brandonskerritt commented on #32
Think it's caused by the new base decoders not using the internatla data pack, gotta check it out

[2020-05-09 19:26] brandonskerritt opened #33 "Resource warning bug for multi procressing pool"
[code]

[2020-05-09 19:39] brandonskerritt commented on #31
Kinda works, but would be nicer in 1 for loop

[2020-05-10 12:49] brandonskerritt commented on #32
Okay fixed it. I was calling `return self.badret` instead of `self.badret()`

[2020-05-10 12:49] #32 closed

[2020-05-10 13:33] #31 closed

[2020-05-10 13:34] brandonskerritt commented on #18
These bases were implemented:
Base32
Base85
Base16

[2020-05-10 13:35] brandonskerritt opened #35 "Update the Neural Network"
The neural network is great at identifying sub classes (base64, caesar cipher, etc) but not so great at identifying parent classes.

Read the docs :)

[2020-05-10 13:36] brandonskerritt opened #36 "rename base64.py to bases.py"

[2020-05-10 15:09] brandonskerritt opened #37 "Figure out why Ciphey runs forever with no serious decryptions"
Like... It has no affine or transposition.... Why does it run forever? Is it viginere?

[2020-05-10 15:09] brandonskerritt opened #38 "Take control of crtl + c"
Ciphey should print out the prob table and some extra info if people cancel the program halfway through running

[2020-05-10 15:10] brandonskerritt commented on #38
Oh! Maybe, Ciphey can print this at the start?

[2020-05-10 16:00] brandonskerritt opened #39 "Implement mod + xor"

[2020-05-11 13:23] brandonskerritt opened #40 "Add a killswitch so Ciphey stops after x seconds"

[2020-05-14 15:44] brandonskerritt opened #41 "Make ciphey work offline"
Don't forget to add an error message to hash cracker

[2020-05-14 19:49] #26 closed

[2020-05-16 13:13] brandonskerritt opened #42 "Switch to Rich"

[2020-05-16 13:13] brandonskerritt opened #43 "Switch to Rich"
https://github.com/willmcgugan/rich

Delete the other module used for this. Use Rich to print the probability table

* [ ] Switch the progress bar from alive_bar to rich
* [x] Create the probability table using rich

[2020-05-16 13:15] brandonskerritt commented on #43
Probability table can look like:
NAME | PROBABILITY
caesar | 0.26
We can change the decimals into percents?
so 0.26 = 26%

We would need to disable the +0.1 though, as by Default Ciphey assigns 1% to every decryption regardless of whether or not it's likely.

[2020-05-16 13:16] brandonskerritt commented on #43
Alive_bar it's called, and we can stop the 1% thing on  line 128, as 1% is added in __MAIN__

[2020-05-16 15:44] brandonskerritt commented on #43
With Rich, I could implement a progress bar for each decryption. I could do a progress bar for base64, caesar, etc, instead of the parent classes?  Look at this example for more info: https://github.com/willmcgugan/rich/blob/master/examples/downloader.py

[2020-05-16 15:45] #42 closed

[2020-05-16 15:46] brandonskerritt opened #44 "Include screenshots of app in readme"

[2020-05-16 15:47] #38 closed

[2020-05-16 20:39] brandonskerritt commented on #25
I think because the charles darwin object contains a lot of numbers and puncuation it is throwing off chi squared

[2020-05-17 00:59] brandonskerritt opened #45 "Fixing language checker"

[2020-05-17 01:00] brandonskerritt commented on #45
Changing chi squared doesn't work, what if we implement easy dict lookup of most popular 1000 words and and checking for that? if 1 word is in, full dict check?

Cause the +0.1 or -0.1 chi squared is too fidgety i think

[2020-05-17 01:12] brandonskerritt commented on #45
The top 1000 words thing would make it work on the lazy brown dog example too. But I don't want to read from a file everytime, might have to hard code it in?

[2020-05-17 01:17] brandonskerritt commented on #45
We can create dictionaries with no vaues, so quic searching of eys is good

[2020-05-20 11:30] brandonskerritt commented on #45
Since fixing language checker, the whole program on branch Transposition has stopped working. I am adding logging to the program to figure out what is going on.

[2020-05-20 17:23] brandonskerritt opened #46 "First 1000 word check is slow"
Check for word endings such as "ing" and the top 50? 100 words. Like "and".

[2020-05-20 18:53] brandonskerritt commented on #43
I can use a generator to apply Rich only when non-grep is active

[2020-05-23 23:54] #25 closed

[2020-05-23 23:54] brandonskerritt commented on #45
I believe chi squared might return True for every string it gets. And dictionary checker doesn't work.

Write more unit tests, test dict checker small.

[2020-05-23 23:56] brandonskerritt opened #47 "More verbose output"

[2020-05-23 23:57] brandonskerritt commented on #44
Use asciicinema?

[2020-05-24 10:29] brandonskerritt opened #48 "Write unit tests for transposition"

[2020-05-24 20:45] brandonskerritt opened #49 "Probability table not sorted"

[2020-05-24 20:45] #49 closed

[2020-05-24 20:47] brandonskerritt opened #50 "Make --c return more information on the cipher used."

[2020-05-24 20:58] brandonskerritt opened #51 "Fix hash requests timeout"

[2020-05-24 21:14] #51 closed

[2020-05-24 21:56] brandonskerritt opened #52 "File input"

[2020-05-25 10:38] brandonskerritt opened #53 "sortprobtable in main may not be needed"

[2020-05-26 10:54] brandonskerritt opened #55 "Prob table isn't sorted for input"
olssv tf whylua olssv tf jopsk

[2020-05-26 10:55] brandonskerritt opened #56 "Use orderedDict to sort dicit"
https://stackoverflow.com/questions/8031418/how-to-sort-ordereddict-of-ordereddict

[2020-05-27 00:02] BerNo434 opened #57 "Error when running "name 'Decryptor' is not defined""
When i try to run ciphey it trows an error
I am new to Python so it could be that i did something wrong when installing

![image](https://user-images.githubusercontent.com/52764786/82961529-e5b98f00-9fbd-11ea-869e-909c4522a361.png)

[2020-05-27 00:20] brandonskerritt commented on #57
Hey! Thanks for submitting this. Nothing to do with you, you installed it right.

Found the bug! `viginere.py` was not run in the multi threaded pool in:
https://github.com/brandonskerritt/Ciphey/blob/master/ciphey/Decryptor/basicEncryption/basic_parent.py

Which means I didn't pick up on it to remove it. It's an unfinished module and thus breaks the system. My fault!

I'll fix it tomorrow, I know

[2020-05-27 13:53] #56 closed

[2020-05-27 13:53] #55 closed

[2020-05-27 13:53] #53 closed

[2020-05-27 13:57] brandonskerritt opened #58 "We can speed up dictionaryChecker with lemminization"

[2020-05-27 14:43] brandonskerritt opened #59 "Languagechecker can look for endings of words"

[2020-05-27 14:43] brandonskerritt opened #60 "Rework of language checker"
* [ ] - Use Lemmisation to reduce dictionary checker size
* [ ] - Use Lemminisation in the text to check to increase accuracy
* [ ] - For check 1000 words, it may be better to search for stop words or word endings (opposite of leminisation)
* [ ] - Explore removing std checking from Chi square as it returns True for encrypted text
* [ ] - write tests for check100words

[2020-05-27 14:46] #58 closed

[2020-05-27 14:46] #59 closed

[2020-05-27 14:47] brandonskerritt opened #61 "Rework of Neural Network"
* [ ] - Larger text corpus. Explore using English Wikipedia, Reddit comments, British National Corpus of Quantum Stat datasets
* [ ] - Build the text corpus into an actual data set hosted on Kaggle or the likes.
* [ ] - Change what Ciphey's NN trains on. Add in these:
    * [ ] - "=" since basees use it, it'll help Ciphey identify bases easier.
    * [ ] - Spaces, since some encryption methods do

[2020-05-27 14:51] #45 closed

[2020-05-27 14:51] #17 closed

[2020-05-27 14:51] #18 closed

[2020-05-27 14:52] brandonskerritt opened #62 "Update the README"
* [x] - Include screenshots of the app
* [x] -  Look at other cool readmes and try to replicate them
* [x] -  Include examples
* [x] -  ASCII Cinema

[2020-05-27 14:52] #35 closed

[2020-05-27 14:52] bee-san opened #63 "Add more decryption methods"
Here is a list of all the ciphers Ciphey plans to support. Pick one and implement it please :) <3
Here's how to incorporate it into Ciphey:
https://github.com/Ciphey/Ciphey/wiki/Adding-your-own-ciphers
Full list of implemented ciphers:
https://github.com/Ciphey/Ciphey/wiki/Supported-Ciphers

# Easiest

* [ ] First letter of every word, first letter of every line, 2nd letter of every word etc (#336

[2020-05-27 14:53] brandonskerritt commented on #37
It's because of Viginere.

[2020-05-27 14:53] #37 closed

[2020-05-27 17:03] #48 closed

[2020-05-27 17:04] #46 closed

[2020-05-27 17:04] brandonskerritt commented on #47
Verbose output needs to work well with grep mode

[2020-05-27 17:41] brandonskerritt opened #64 "Fix argument parsing"
* [x] - arguments do not all need flags
* [x] - can you pipe things into ciphey?

[2020-05-27 20:48] brandonskerritt opened #65 "Pep8 the code"
- [x] implement [type hints](https://florimond.dev/blog/articles/2018/07/why-i-started-using-python-type-annotations-and-why-you-should-too/)
- [x] Use Flake8 to critique the code
- [x] Change variable names to snakecase
- [x] Look for any functions that can be turned into functional code

[2020-05-27 20:50] brandonskerritt commented on #64
https://realpython.com/python-command-line-arguments/

[2020-05-28 13:23] brandonskerritt opened #66 "Fix Pytest"
- [x] Get PyTest to actually run
- [x] Set up more testing, check my tablet to for the webpage on testing i forgot to copy to this git issue

[2020-05-28 22:14] brandonskerritt opened #67 "Improve viginere & transposition"
- [x] Viginere uses list slicing which creates a new lsit each time, VERY slow.
- [x] A chi-squared association test is good for transposition stuff you can use it to really quickly match distributions and shit
- [ ] Remeber that, with a viginere cipher, a key as long as the message is actually information theoretically secure https://en.m.wikipedia.org/wiki/Index_of_coincidence give users an opti

[2020-05-29 00:56] brandonskerritt commented on #64
This is now fixed, Ciphey accecpts first argument without a flag as the text, or you can use the -t argument

[2020-05-29 01:08] #64 closed

[2020-05-29 15:20] #62 closed

[2020-05-29 15:25] brandonskerritt opened #68 "Make it so you can Import ciphey"
Look at how sherlock does it

[2020-05-30 11:44] bee-san opened #73 "Make argument to select cipher"
Sometimes the user already knows the cipher

[2020-05-31 11:30] brandonskerritt commented on #65
__main__ is pep8'd just need to add type hints to mathshelper and then work on the other files

[2020-05-31 22:41] brandonskerritt commented on #57
Now fixed in the latest release, thanks!

[2020-05-31 22:41] #57 closed

[2020-06-02 12:12] brandonskerritt opened #76 "Chi squared in LC is non-deterministic"

[2020-06-02 12:12] #14 closed

[2020-06-02 14:01] bee-san opened #77 "Alternative base64 syntax bruteforce"
For the base64, we can just check for the alnum chars, and then brute force the rest to see if it works

[2020-06-02 14:01] brandonskerritt opened #78 "Let the user choose the decryption"
Get internal data packet to return list of most likely decryptions (maybe languagechecker can do this) so the user can choose the most likely candidates

[2020-06-02 14:02] brandonskerritt opened #79 "Manually set the encryption method"
Create argument --set-encryption that lets the user manually set the encryption method.

This should set the probability of that encryption to 1.

[2020-06-02 14:04] brandonskerritt opened #80 "Ignore the neural network"
argument to ignroe the neural network, only using filtering system

[2020-06-02 14:04] brandonskerritt opened #81 "Filtering system"
A Regex based filtering system that is faster than the neural network, and can be more accurcate.
* [ ] - Verbosity - let the user know what REGEXs passed in the filtration system

[2020-06-02 14:38] brandonskerritt opened #82 "Base64 doesn't check languageChecker"

[2020-06-02 18:05] brandonskerritt opened #84 "Bsae85 fails to decrypt"

[2020-06-02 18:11] #82 closed

[2020-06-02 21:23] #76 closed

[2020-06-03 12:27] brandonskerritt opened #87 "Seperate base functions as methods insetad of all in one"

[2020-06-03 13:36] brandonskerritt opened #88 "Integrate NOX"

[2020-06-03 17:12] Cyclic3 opened #90 "Language detection interface"
### Problem
Whilst the original language checker is absolutely brilliant, it fails at small ciphertexts, or those with high entropy. An AI solution would be cool, but would be a bit OTT for rigid data structures such as json or CTF flags

### Solution
We present an interface for defining a custom candidate acceptor:
[code]

This can be passed as an argument to each cracker. Since a basic chi-squar

[2020-06-03 20:10] bee-san commented on #90
The `autumn` system will be rewritten to feature NLP, so DictionaryChecker is much faster due to lemmatisation.

It would be nice to have an overall class where the user can state what level of accuracy they want, and for 1, 2, 3, 4 of these modules to run to ensure the extremely high accuracy the user wants.

For the `regex` system, I put forward that we should develop a Regex to match the format

[2020-06-03 20:54] Cyclic3 commented on #90
Great suggestions, but I have a few comments:
1. Flag formats are so diverse (from hex strings in the braces to english sentances) that I still think a user supplied regex is best
2. Multiple langauge detction modules make the command line syntax really compliacatied (how do I differentiate between parameters for each module?) and can trivially be implemented in a python script
3. RockYou idea is

[2020-06-03 20:59] brandonskerritt commented on #90
1. Pareto principle? 3 most popular CTf websites are HTB/THM/Vuln hub. We just do Regexs for those 3 and we hit 80% of all CTF flags? The user can add more if they want. We will only need to search for HTB{*}, THM{*}, VULN{*}.
2. I agree this one kinda sucks, more of a "would be nice but not super needed"
3. We don't have to download rockyou, if we assume the user is using Kali / Parrot / Seclists

[2020-06-03 21:05] #87 closed

[2020-06-03 21:05] #66 closed

[2020-06-03 21:06] #65 closed

[2020-06-03 21:06] brandonskerritt opened #92 "Use simplefiltering for NN"
Implement SimpleFiltering for NN

[2020-06-03 21:11] brandonskerritt opened #93 "Make a settings file"

[2020-06-03 21:19] Cyclic3 opened #94 "Configuration overhaul"
### Problem
Many modules require dictionaries, and we keep defaulting to various ones under cipheydists, usually an English distribution of some form. Whilst this creates i18n issues, it also blocks users from doing password decryption and other things. Many modules from #90 could also use such a system, to stop there having to be a repeated flag.

This is just one instance of an underlying proble

[2020-06-03 21:21] Cyclic3 commented on #90
1\. Yeah, that sounds good. I'll put it in cipheydists so that it is more maintainable
3\. I really don't like seeking paths that only exist on a few OSs. I believe this is more suited for #94
4\. By user prompting, I meant pass each candidate to the user, using the best trained neural net I know of (the human brain). It is more annoying, but the best way of making sure nothing slips through for h

[2020-06-03 21:23] #93 closed

[2020-06-03 21:27] brandonskerritt commented on #94
This is similar to #93 however since the previous issue was poorly written and hard to understand, this issue is being kept instead.

It is ideal for us to create some sort of settings.yaml file, partly to store the various flags but also to store user settings.

The user may have preferences for how Ciphey is run in the future such as:
* Skip NN
* Only use filtration system
* Use REGEX language d

[2020-06-03 21:30] Cyclic3 commented on #94
Thanks for hijacking my issue! /s

You're right, this should be covered as the entire thing, so I will update the initial proposal.

[2020-06-04 11:09] #79 closed

[2020-06-04 11:09] #78 closed

[2020-06-04 11:11] bee-san commented on #90
For the **autumn** interface, here is a rough design of the new interface from #60 (now closed, as this issue is pinned).
* [ ] - Use Lemmisation to reduce dictionary checker size
* [ ] - Use Lemminisation in the text to check to increase accuracy
* [ ] - For check 1000 words, it may be better to search for stop words or word endings.
* [ ] - write tests for check1000words

[2020-06-04 11:11] brandonskerritt commented on #60
closed for #90

[2020-06-04 11:11] #60 closed

[2020-06-04 11:16] brandonskerritt opened #96 "Create Pytest automation for the whole program"
Using EnCiphey, automatically generate many texts of various lengths. Here's my thought process:
* Take in input of a book (maybe Harry Potter).
* Select at random lengths sentence(s) between 1 and X.
* Randomly encrypt the sentence using EnCiphey, and send that to `generate_tests.py` in `tests/`.
* This module will generate a test given the new encryption, and will assert that it is True.
* While

[2020-06-04 11:17] brandonskerritt commented on #96
Issue pinned as this is what I am currently working on.

[2020-06-04 19:20] brandonskerritt opened #97 "Can't create documentation with Sphinx due to error"
[code]

[2020-06-04 21:55] #88 closed

[2020-06-05 11:49] bee-san opened #101 "Get Ciphey into Awesome Python"

[2020-06-05 12:03] brandonskerritt opened #102 "Refactor NN"

[2020-06-05 13:01] brandonskerritt commented on #90
@Cyclic3 Can you list the arguments in their fullnames, instead of letters? For example `-w = --wordlist`. This is for the settings file :smile:

[2020-06-06 01:41] brandonskerritt opened #103 "Module 'cipheydists' has no attribute 'get_lists'"
[code]

[2020-06-06 01:43] brandonskerritt commented on #63
https://www.boxentriq.com/code-breaking/cryptogram

[2020-06-06 01:45] brandonskerritt commented on #103
nvm i wasnt in virtual env

[2020-06-06 01:45] #103 closed

[2020-06-06 18:18] Cyclic3 commented on #90
@autumnskerritt Where do you want me to list them?

[2020-06-06 18:32] Cyclic3 opened #104 "Cipher detection interface"
### Problem
We have a limited number of ciphers that can be detected, and adding a new one means retraining the AI. Also, some ciphers can be detected far more easily algorithmically, and encodings can be checked by attempting to decode them.

To fix this problem, we have a tacked-on interface for filtering out various encodings, but that does;n't solve the root problem.

However, the AI does prov

[2020-06-06 19:11] brandonskerritt commented on #104
Hey! Just some notes before I talk about this some more.
1. Training the AI is hard
The AI does know specific algorithms, you're right. And it is a pain to re-train it (I'm talking 2+ days of training on a sufficient dataset). However, Ciphey (not the AI) knows that "Base64" could mean any of the base decodings, so it tries that. However! If for example we had cipher X and cipher Y, both in the sa

[2020-06-06 21:07] Cyclic3 commented on #104
I think moving the AI to classify *families* of ciphers is a great idea! It has proven to be remarkably effective an

I would, however, like to address some of your points:

"Applying" a decoder should be low overhead if the decoder doesn't match. Your example of a morse decoder slowing it down would only apply if it was encoded in something that looked like morse, which would probably mean that i

[2020-06-06 22:43] brandonskerritt commented on #104
Great algorithm and rebuttal! When we store them in point 2, we should perhaps try to do an insertion / merge sort on them while we are adding them to the dictionary. This will save us time from sorting it in point 4 :)

[2020-06-07 01:40] brandonskerritt commented on #90
@Cyclic3 In the settings file settings.yml on your iface branch :)

[2020-06-07 12:21] brandonskerritt commented on #81
Currently some import statement troubles, working through them in the IntegrateSimpleFiltration branch.

[2020-06-07 12:22] brandonskerritt commented on #96
Morse code in Ciphey is wrong, so I've tried to fix it (it has every key on my keyboard in the dictionary now) and uploaded to CipheyDists https://github.com/Ciphey/CipheyDists

[2020-06-09 11:51] Cyclic3 opened #105 "bytes / str separation"
### Idea
Whilst simple substitution ciphers based on groups (caesar, vigenere, etc) make sense as unicode code points, we want to add xor encryption (and maybe even some serious cryptanalysis), which would take us outside the valid UTF-8 chars.

Ciphey cannot currently accept invalid UTF-8 data, and it needs to. For that, we need to separate strings and bytes.

I suggest that we divide the `Decode

[2020-06-09 11:55] Cyclic3 commented on #67
Most of this was done with the import of cipheycore

[2020-06-09 11:56] #44 closed

[2020-06-09 11:57] #43 closed

[2020-06-09 11:58] Cyclic3 commented on #40
This can be achieved with external tools like `timeout`. Is it worth reimplementing that here?

[2020-06-09 11:58] #36 closed

[2020-06-09 14:51] brandonskerritt commented on #40
No, since Ciphey now executes in relatively good time due to Vigenere being sped up.

[2020-06-09 14:51] #40 closed

[2020-06-09 14:52] #67 closed

[2020-06-09 15:02] brandonskerritt commented on #63
@Cyclic3 Just in case you didn't notice, this is the issue where I keep track of ciphers I've encountered in CTfs and want to implement :)

[2020-06-09 16:46] Cyclic3 commented on #73
This is dependent on  #104, so that we can use a nice list of ciphers

[2020-06-09 23:23] brandonskerritt commented on #104
@Cyclic3 Not entirely related to this issue, but I am seeing a repeated pattern here. Multiple different alphabets for the same encryptions (bases, morse code). Along with #77 and possibly #105 . I propose that when we call a cipher, since we have them in an easy interface like so we should exhaust the cipheyDists lists for that type. We should try to aim to use the same code, but supply the argum

[2020-06-10 13:03] bee-san opened #109 "Things I need to fix before next release"
* [x] Fix CI and Code Coverage (Using pycharm to determine unused functions)
* [x] Add Neural Network Model to CiphetyDists and import it
* [x] Finish automated testing

[2020-06-10 18:55] #109 closed, assigned to bee-san

[2020-06-10 21:51] Cyclic3 opened #113 "Out there idea: Distributed cache"
### Problem:
If two people want to crack the same data, they have to do it individually. That's a lot of effor.

### Solution:
Kademlia DHT for ciphertext-plaintext pairs, with a privacy argument to disable it

[2020-06-10 23:34] brandonskerritt opened #114 "Binary Bug"
This is 2 bugs in one, but both relate to binary
[code]

[2020-06-10 23:36] brandonskerritt opened #115 "PyPi version is incredibly slow"
[code]
PyPi vs local

[2020-06-10 23:57] brandonskerritt commented on #104
Another idea:

We assign "cost" to each decryption method (number of computations) and then we can do an A* search, using heuristics such as the neural network and filtration system to work out how likely something is. So we have a likely chance / computational cost, and we do the things first that are more likely but cost less.

Essentially, we are combining accuracy & speed into one. So we:
* as

[2020-06-11 00:00] brandonskerritt commented on #114
![E1UHt5IqyD0Y](https://user-images.githubusercontent.com/10378052/84330286-e423c580-ab7e-11ea-9d6f-84225d362913.png)

Bug from @szymex73

[2020-06-11 00:09] brandonskerritt opened #116 "Don't import the whole tensorflow library"
"It's f*cking huge"
One of the top complaints was installing a 500mb library just for tensorflow

[2020-06-11 00:10] brandonskerritt opened #117 "Ciphey could not find a matching cipheycore"
https://i.imgur.com/6qyw0xV.png
@michalani

[2020-06-11 00:19] brandonskerritt opened #118 "4 seconds to detect no input"
https://i.imgur.com/v8rI2HX.gifv
@michalani
installed from pyPi

[2020-06-11 00:23] brandonskerritt commented on #115
https://i.imgur.com/Koo9Rti.gifv
from @michalani

[2020-06-11 00:24] bee-san commented on #114
I can reproduce this, even in grep mode.
[code]

[2020-06-11 00:24] bee-san commented on #114
[code]

[2020-06-11 00:47] brandonskerritt commented on #118
![image](https://user-images.githubusercontent.com/10378052/84332717-8fd01400-ab85-11ea-9af5-22deed9ba72d.png)

[2020-06-11 01:05] brandonskerritt commented on #63
@Cyclic3 sent this to me:
[code]

[2020-06-11 10:16] brandonskerritt commented on #116
It may be possible for us to use Tensorflow Lite, which is for android / IOS/ Raspberry Pi.
https://www.tensorflow.org/lite/examples
We **only** need load_model() in the production environment, will have to explore

[2020-06-11 10:18] brandonskerritt commented on #116
https://www.tensorflow.org/lite/guide/inference
^^ How to load a model in tensorflow lite.
@Cyclic3 they have a page for loading a tensorflow model in C++, do you think it would be better if we added this to Cipheycore and loaded it via that? The app is incredibly slow via PyPi and I want to reduce overhead as much as possible :)
https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model

[2020-06-11 10:23] brandonskerritt commented on #116
Tensorflow Lite Converter - Convert TF models into TF lite models
https://www.tensorflow.org/lite/convert/index

[2020-06-11 10:25] brandonskerritt commented on #118
The very first thing Ciphey does is check for no input, why does it say ~4 seconds for Cipheys main() to first run? :(

[2020-06-11 10:25] brandonskerritt commented on #117
This is because cipheycore is in alpha / beta release and not a full release

[2020-06-11 10:26] brandonskerritt commented on #115
For my example in the original issue, it look 10 seconds to decode that base string, whereas locally it took < 3 seconds.

[2020-06-11 10:29] brandonskerritt commented on #115
Here's a better show case using the `time` module:
[code]
^^ PyPi version
[code]

[2020-06-11 10:44] brandonskerritt commented on #115
Possibly, this may be caused by Pip installed apps having a limit on the number of threads? _maybe_? It's the only thing I can think of

[2020-06-11 12:12] Cyclic3 commented on #118
Can we have a trace output? I cannot repro, and this is running through cygwin, which is known to cause some performance problems!

[2020-06-11 12:13] Cyclic3 commented on #117
Ok, I think we have tested the prerelease enough. I'll convert it into a full release

[2020-06-11 12:16] Cyclic3 commented on #116
Because I'm stubborn in my ways, I see this as yet another reason for #104. We could easily create a `cipheyai` module for installing the neural network component, allowing people to opt out of the large and intensive AI checking.

[2020-06-11 12:20] Cyclic3 commented on #115
I have an AMD threadripper, so you would think that multithreading would give me more benefit that most. However, I actually see performance *degradation* when I use the threads. I do not believe it is that.

It could be something to do with the manylinux2014 image I am forced to build on. I would *like* to statically compile it with the latest libs, but unfortunately it complains when I do that (

[2020-06-11 12:48] brandonskerritt commented on #114
I will fix this!

[2020-06-11 13:08] Cyclic3 commented on #116
cipheydists now uses the 'lite' models, with the h5 ones being moved to cipheyneuralnetwork. We can push that in a future release

[2020-06-11 13:11] Cyclic3 commented on #117
Done

[2020-06-11 13:11] #117 closed

[2020-06-11 13:12] Cyclic3 commented on #115
On checking your output, you are definitely using an old version. This is most likely due to the borked versioning in #117. I'm going to mark this as "invalid" until it is shown in ciphey 4.2.0 using the latest cipheycore

[2020-06-11 13:17] brandonskerritt commented on #116
For future reference, we switched to TF Lite as the install is 1mb compared to TF's 500mb.

[2020-06-11 13:35] brandonskerritt commented on #114
fixed it

[2020-06-11 13:35] #114 closed

[2020-06-11 14:31] Cyclic3 commented on #118
That also looks like some form of initialisation issue, probably fixed by #116

[2020-06-12 10:21] Cyclic3 commented on #118
On further talks with @michalani, we confirmed this is an instance of #116.

Closing in favour of that issue.

[2020-06-12 10:21] #118 closed

[2020-06-13 11:54] Cyclic3 opened #124 "Interactive and (partially) known plaintext attacks"
### Problem:
Caesar, Vigenere and affine ciphers can all be cracked with minimal known plaintext material. CBC can be cracked in the presence of a padding oracle.

However, Ciphey can only work for direct cracking with no information but the ciphertext.

### Solution:
This depends on #104

Combined with Cracker selection, a `Cracker` which took in this extra information, and used it to crack the c

[2020-06-14 17:53] brandonskerritt opened #125 "vigenere hangs on input "===""
**Describe the bug**
when the input into Ciphey is all equals signs, viginere hangs according to the debug output.

the minimum number of equals signs to reproduce this is 3.

**To Reproduce**
`ciphey -t "==="` on branch "fixing base"

[2020-06-14 17:59] brandonskerritt commented on #41
I've decided that this is too much work. I am leaving it for ṫ̸̨̡̧̲̳͍͚̘̻̖͚̺̜͎̬̫͓̹̮̣̟̻̝́̈́̒͐̉͐̀̀̑̆̿̋͌̋́͋͊̓͌̉̓́̌̅́͑͗̊̚͝͝͝ͅḩ̴̢̛͕̫̦̖̗̻̪͍̬̥̙̲̳̦̺͇͉͔͔͚͈͓͋̆͋͂̒̌͌̅̄̎͆̈́͛̊͒͌̇̽̓̀̋̓̐̿̍̚͘̚͠͝e̷̡̧̯̭̦͔͚̮͔̳̖̞̱͋̀͛̑̈̂̂̓̀̋͆̽̿̿̊͘͜ͅ ̴̨̧̡̛̪͙̣͚̞̭̝͕̝̪̭͚̩̪̭̤̫͕͖͈̤͖̝̪̻̖̍̇͋̈͒̎̋̓̍͗̿͛̾͐̌̽͒͊̑̌̅͛̀̃̍̉̉͐͘̚͝͝͝g̸̡̻͔̘̠̰͎̙̬̼̝͚̹̠̼̟̏́͗̃̉́̈͊͑̀̈̓̅̑͛̉͆̅̂̑͗̎̎̒̎̚̚̚͘͝͠͝ŗ̸̧̡̧̘̘͔̘͇͈͇̩͍̳̥̰̱̰͚̮̖͉̹̣̞̫͊̓è̷̳͔̯̫̈́̑̅̍̌̄̓̆̇̇͐̈́̇͋̾͆̾͊̂͒̇̀̅̍̈́̕̕̕͝͝͝a̷̛͂̐̀̅

[2020-06-15 09:44] bee-san opened #127 "A* search"
@brandonskerritt this is literally just a note to remind me to do this

"the first heuristic tells you whether it is worth calculating the other "

[2020-06-15 17:55] bee-san opened #128 "emoji cipher / support"
1. I'm not sure if Ciphey works with emojis fully, so this is a separate issue. I imagine base64 can decode into emojis, but I don't know if Ciphey's base64 will work with the emojis.
2. it is possible to create emojis that represent words such as 👋🆒🆕📳📆.

I should explore this more

[2020-06-16 17:05] bee-san opened #129 "Natural Language Detection and Cracker interface"
### Problem:
Minecraft enchantment table is the same language as Standard Galactic. Standard Galactic does not exist in Unicode, and thus the only way to solve is via being able to physically see the letters as an image.

Many such languages exist that are used in CTFs. Pig pen cipher - to name a popular one.

### Solution:
Ciphey should use a CNN to determine the language of an image inputted to

[2020-06-16 21:20] bee-san commented on #90
@Cyclic3 this is how `autumn` interface works. Any comments?

**Phase 1. Try to turn the text into something we can search with in phase 2**
Firstly, we turn the string into words, we perform lemmatization (greatly -> great) and then we turn it into a base form synonym (still working on this, but basically the idea is (great -> good) but not too sure if this is possible).

If we can do this, we pa

[2020-06-16 22:37] Cyclic3 commented on #90
That sounds absolutely brilliant! Just a few things I see:

1. You say O(n) + O(n) = O(n^2), but Im pretty sure that's O(n)

2. Does the lemmatisation use a dictionary or something, or is it just spooky AI magic? I ask because it sounds like we might be getting more information than data at that point, and that's never good.

3. Be aware that the stuff passed to the checker will most likely be com

[2020-06-16 23:48] brandonskerritt commented on #90
For point 3 before I forget, I am thinking of something like this:

accept = [ ]
lemmitisztion (append 1 to accept)
word endings (simple if "ing, en," on end of a word) (append to list)
if synonyms (append to list)

phase 2 enters if list >= Len 2

so we have lots of little checks, but together they should give a relatively clear picture on whether it's worth it to go to phase 2 or not. The exact

[2020-06-17 10:36] Cyclic3 commented on #90
I would suggest a simple lower bound test: we pass if we get more than 25%,and fail if we get lower than 5% (or smth idk) for n consecutive windows.

You _can_ use the chi squared in cipheycore (which supports processing of split strings), but that would often be redundant.

In the core, the vigenere and caesar crackers actually discard the string, only keeping the frequency analysis, and use the

[2020-06-17 14:13] bee-san commented on #90
If I'm reading this correctly:

You're suggesting that we run all tests and see if we get 25% Imo that would be much slower. What do you mean by `n windows`?

Okay, Chi squared is out then!

This is entirely possible. I will add support to `autumn` checker to skip phase 1 if it receives an dictionary with key `"phase1": True` for `True == skip phase 1`.

If you have more tests, let me know and I c

[2020-06-29 13:03] brandonskerritt commented on #113
Another idea to add onto this:
The first node can be a node we control (maybe the same node for the inputs, we don't have an issue for this but @Cyclic3 and I discussed this earlier) and we can use enCiphey on Rockyou.txt to generate encryptions and use that. While it's not the best, I reckon some CTFy encryptions wiill be from Rockyou. By doing so, we have a large corpus of hashes to use as well

[2020-06-29 13:04] bee-san opened #137 "Adding Distributions to AUR / WinGet / HomeBrew"
There wasn't an issue for this, so I decided to write one.

I am currently working on adding Ciphey to:
* WinGet
* AUR
* HomeBrew

I will write a blog post with how I did this, and link it here.

[2020-06-29 13:06] brandonskerritt commented on #127
@Cyclic3 Is currently writing a paper on how to do this. We will link it here, and on the documentation.

[2020-06-29 13:07] brandonskerritt commented on #137
The Windows Manifest file is created, and we can create .msix files. I cannot test these, as the branch they are on is not working until _The Great ~~Orwellian~~ Refactor_ is completed.

[2020-06-29 13:12] brandonskerritt commented on #137
For Windows release:

[2020-06-29 18:04] #115 closed

[2020-06-29 18:06] Cyclic3 commented on #105
Done in #104

[2020-06-29 18:06] #105 closed

[2020-06-29 18:06] Cyclic3 commented on #94
Covered in #104

[2020-06-29 18:06] #94 closed

[2020-06-29 18:08] Cyclic3 commented on #129
TODO: add klingon, goa'uld, Linear B, Linear A, baby and dog

[2020-06-29 18:12] Cyclic3 commented on #90
Closed for #104

[2020-06-29 18:12] #90 closed

[2020-06-30 14:01] brandonskerritt commented on #127
I am currently implementing this. I am not 100% sure on the details, but I will add them eventually.

[2020-07-01 12:19] brandonskerritt commented on #47
Basically, print "trying caesar cipher", "trying vigenere"

[2020-07-01 15:49] brandonskerritt opened #141 "Switch from ArgParser to Click"
Just to track what I am doing

[2020-07-01 15:50] brandonskerritt commented on #113
We discussed earlier today that we should only keep 20% of the most popular lookups (Pareto principle). But we don't know how to calculate the most frequently fetched hashes in the DHT. Perhaps an academic paper might help. Assigning Help wanted in case anyone on GitHub can help us design the DHT....

[2020-07-02 12:55] bee-san opened #142 "Allow the user to select speed / accuracy tradeoff"
### Problem:
At the moment, we, the developers of Ciphey have to select from speed / accuracy trade offs. Do we want the program to be fast, or do we want it to be accurate?

### Solution:
nmap solves this by using "-T5" to represent "incredibly high speeds but bad performance". We should use sometime similar, such as `-p` `--performance`.

Our default setting will be in the middle. However, the u

[2020-07-02 14:53] brandonskerritt commented on #141
This works in a local file, integrating with main now

[2020-07-03 13:05] brandonskerritt opened #143 "Strings that can be decoded / cracked in 2 crackers / decoders"
[code]

This is a base 64 string, but it returns as SHA256.
[code]

This is because:
1. The string is the exact right size for SHA256
2. It just so happens, on one of our hash APIs, that the string has been calculated to be that.

[2020-07-03 13:06] brandonskerritt opened #144 "Things to do before Great Orwell"
** Now sorted in terms of importance**

# Important
- [ ] #180
# Nice to have
- [ ] German support (moving this to 5.1)

# Documentation
- [ ] Config object

# Tests
- [ ] Settings.yml

# Gifs
- [ ] Gif showing writing a program to import Ciphey

# Done
- [x] #172
- [x] Fix making your own ciphers https://github.com/Ciphey/CipheyDocs/issues/11
- [x] Full technical explanation of Ciphey
- [x] Using

[2020-07-04 00:02] brandonskerritt commented on #141
Branch fixingPipeIssues now works. Just need to test it some more, make a nice gif for the README, and then merge.

[2020-07-04 01:53] Veeyu22 opened #145 "Please provide more information on how to install Ciphey"
I've been coming back to this page trying to get Ciphey to work over and over and I'm simply not knowledgable enough to get it to work.
I downloaded a release of Ciphey, put it in a folder and put it on my desktop, then checked the installation section.
It basically tells me to run

Okay, so, I downloaded python 3, restarted my pc, and the command doesn't work, turns out, I had to change it to

Be

[2020-07-04 07:50] Cyclic3 commented on #143
This *is* a difficult situation.

Luckily, there are some things we can do with the (almost finished) cipher-iface branch!

Since a hash is binary data, AuSearch will decode the base64, and first check for further decodings. The chance of a SHA256 hash successfully decoding as UTF-8 is roughly 1 in 2^32 (4 billion). Even if someone really is that unlucky, that just means that we will waste time wi

[2020-07-04 07:57] Cyclic3 commented on #145
Hi there, thanks for reporting this issue! So many people in this situation silently give up, and then we never find out!

The main problem there is that your system is failing to install two packages, cipheycore and tensorflow. These packages are both binary packages, which have to be compiled for each version of python it supports, and so it is likely something to do with your python version.

C

[2020-07-04 08:00] Cyclic3 commented on #145
Also, the lack of documentation is a really big problem, and if people aren't even able to install ciphey, we REALLY need to prioritise it. Over the next week, @brandonskerritt and I will be writing a lot of docs, don't worry 🙂

[2020-07-04 21:28] brandonskerritt commented on #143
SHA256 is not cracked, it is searched up in an API - thus it is **much** faster than everything apart from the decoders. :disappointed:

I'm hoping this fixes it:

[2020-07-04 23:49] bee-san opened #147 "Tag System"
# ToDo
- [ ] Add tags to all current ciphers / encodings
- [ ] Decode on a specific list of tags and include in our documentation
- [ ] Edit wiki page to talk about tag system (how to add your own cipher)

Sometimes we want to run specific subsets of crackers. An example is:
* Offline only crackers
* All crackers
* Default crackers
* Most popular crackers

## Implementation
AuSearch has a list of

[2020-07-05 03:02] Veeyu22 commented on #145
output:

Glad to hear from you guys, there's the output running the command you gave me.

[2020-07-05 10:17] brandonskerritt commented on #145
Hey!

In response to your comment, I wrote an installation guide which explains what Pip and Python is and why we need them. However, I don't think it'll help you very much other than learning what Pip is :smile:
[https://docs.ciphey.online/en/latest/install.html](https://docs.ciphey.online/en/latest/install.html)

I'm just going to copy and paste your issues, so I can more easily see them:

[code

[2020-07-05 11:16] brandonskerritt opened #149 "Cloudflare discord link doesnt work"
check page rules to see the forwarding rule

[2020-07-05 12:59] brandonskerritt commented on #149
I made an A record for the Discord to redirect, now it works.

[2020-07-05 12:59] #149 closed

[2020-07-06 01:15] brandonskerritt commented on #145
I'm talking to someone else right now who has the same issue:
![image](https://user-images.githubusercontent.com/10378052/86546839-922c5080-bf2e-11ea-9af9-52be96e59086.png)

[2020-07-06 01:27] brandonskerritt commented on #145
@Veeyu22 Please can you confirm your operating system, and your CPU. Or maybe if you're on a Raspberry Pi? Tensorflow, the package you had a problem with, isn't available for every device :(

[2020-07-06 10:58] Vargles opened #150 "Logo Creation"
### Problem:
This project could use a nice logo!

### Solution:
Here's one I prepared for you earlier! :3
![Cyphey-Logo-240x240](https://user-images.githubusercontent.com/16273716/86586538-5e533880-bfcb-11ea-9272-405d603bb1a2.png)

[2020-07-06 10:58] brandonskerritt commented on #150
@all-contributors Please add Vargles for design

[2020-07-06 10:59] #150 closed

[2020-07-06 22:48] Veeyu22 commented on #145
I'm on Windows 10, running the leatest build of windows 10. My CPU is an i5-6400

[2020-07-06 23:07] Veeyu22 commented on #145
Fix 1 step one:

Fix 1 step 2: (simply returns error as nothing has changed)

To save time, I decided to just go through all of them and only mention when something worked. All of fix 1 and two resulted in errors.

I also tried installing the wheel files directly. I did cd to the location of the file and ran a command to download it and I got this error:

[2020-07-06 23:30] Veeyu22 commented on #145
After doing a bit of looking, Tensorflow or Tensorflow-gpu is supported only for 3.5.X versions of Python, so I'm going to try changing versions. I'll keep you posted.

[2020-07-06 23:31] brandonskerritt commented on #145
Hey Vee,

I read that Tensorflow doesn't support 32 bit versions. I think _maybe_ your Python install is 32 bit. although I am in bed and cannot confirm this.

Can you pretty please install Python 3.8 64 bit version?

And then:

Upgrade pip (using python 3 -m pip install --upgrade pip)

and then try to install tensorflow manually:
pytjon3 -m pip install tensorflow

We are releasing a version witho

[2020-07-06 23:34] Veeyu22 commented on #145
Ah, okay, yeah the thread was outdated and I was coming here to mention that, sorry about that. Alright, I'll install a 64bit version

[2020-07-06 23:41] brandonskerritt commented on #145
🤞 let's hope this fixed it! If not, we are maybe a week max away from releasing a non tensorflow version 😜

[2020-07-06 23:45] Veeyu22 commented on #145
It's looking very promising.
![victory](https://user-images.githubusercontent.com/42015732/86669086-1ff85200-bfa8-11ea-96dd-968ad0ae9040.PNG)
all of this because of this button
![problems](https://user-images.githubusercontent.com/42015732/86669122-28508d00-bfa8-11ea-8ac6-740ee41bb499.PNG)

[2020-07-07 00:09] Veeyu22 commented on #145
![yayyyyyyy](https://user-images.githubusercontent.com/42015732/86672323-6307f480-bfab-11ea-87a4-d26e0cf40090.PNG)

[2020-07-07 00:09] brandonskerritt commented on #145
all-contributors add @Veeyu22 for documentation and bugs

1. Without you mentioning this bug on our repo, we would have had many users just give up
2. I have tried for weeks to convince @Cyclic3 to write documentation and this has convinced him how important it is
3. Our first GitHub issue from someone not on the Dev team! 🎉

Your GitHub profile will be placed on the README as soon as I wake up...

[2020-07-07 00:10] brandonskerritt commented on #145
@all-contributors add @Veeyu22 for documentation and bugs

1. Without you mentioning this bug on our repo, we would have had many users just give up
2. I have tried for weeks to convince @Cyclic3 to write documentation and this has convinced him how important it is
3. Our first GitHub issue from someone not on the Dev team! 🎉

Your GitHub profile will be placed on the README as soon as I wake up..

[2020-07-07 09:04] #145 closed

[2020-07-07 09:05] Cyclic3 commented on #145
This seems to be sorted, thanks for the bug report!

[2020-07-07 11:43] brandonskerritt commented on #147
Writing set theory with just your keyboard is hard. For example, there's no symbol for intersection unless you know the numpad combo.

That's why I suggest this algorithm:

`intersection = ["intersection", "⋂", "I", "Intersect"]`

An _operator_ is anything not in the set of categories:

`categories = set(basic.get_categories, encodings.get_categories)`

And also in the list of lists (we can make i

[2020-07-07 12:42] brandonskerritt commented on #137
I am working on Arch

[2020-07-09 16:10] brandonskerritt opened #155 "Brandon checker fails on small inputs"
**Describe the bug**
With an input of "Damn, Daniel!" Brandon checker fails.

This is because "Damn" is not in check 1k words, and neither is "Daniel".

The solution to this may be to pass an argument which defaults to using the dictionary checker, which is much slower but provides a 99.4% accuracy compared to 97% accuracy.

[2020-07-09 18:08] brandonskerritt opened #158 "No inputs given to ciphey"
➜ ciphey
No inputs were given to Ciphey. For usage, run ciphey --help
No text input given!

[2020-07-09 18:09] brandonskerritt opened #159 "Appdirs does not return location of settings.ymyl"
➜ ciphey -A
Error: -A option requires an argument

and then
➜ ciphey -A True

[2020-07-09 18:10] brandonskerritt opened #160 "Add colour to putput"
[code]

[2020-07-09 18:11] brandonskerritt opened #161 "Final result should be printed last"
If it's 500 decodings, you would have to scroll all the way up to find the answer.

[code]

It should be:

[code]

[2020-07-09 23:16] brandonskerritt commented on #158
fixed

[2020-07-09 23:16] #158 closed

[2020-07-09 23:16] #159 closed

[2020-07-09 23:43] brandonskerritt opened #163 "AuSearch could not find any solutions"
[code]

Can we get something nicer?

[2020-07-11 12:18] brandonskerritt opened #165 "Out there idea: rewrite Ciphey in Rust"
This is an out there idea, for maybe a good couple months / a year.

There are 4 distinct advantages to Rust that would help Ciphey a lot:
1. C++ performance
Rust has near or same C++ performance.
2. Rust is compiled
Rust is compiled and can compile binaries for Windows, Mac OS, and Linux very easily.
3. Rust's safety
Rust takes safety as it's #2 issue, right next to speed. The compiler tries incr

[2020-07-11 14:41] #161 closed

[2020-07-11 14:41] brandonskerritt commented on #160
Colour is only enabled for non quiet mode

[2020-07-11 14:41] #160 closed

[2020-07-11 14:54] Cyclic3 commented on #165
I used rust as my primary language for a year.

Then I stopped.

I will not make a long anti-rust rant (in fact, I believe there are things it is better at). Instead, it suffices to say that forcing programmers to use a counter-intuitive coding style is not the best way of getting more contributors.

I would argue against using any non-python language (and I hate myself for saying this) because py

[2020-07-11 15:02] Cyclic3 commented on #163
This is so sad. Can we hit 50 pull requests?

Maybe I could make the `Searcher` interface return `Optional[...]` so that we could handle this more pleasantly?

_This specific error can actually be fixed if we filter out empty strings from the autumn checker (would recommend)_

[2020-07-11 15:06] Cyclic3 commented on #147
how about the words `and`, `or`, `not`. I heard they're all the rage these days with UX people!

On a more serious note, users are most likely to want a whitelist and a blacklist, rather than to invoke the axiom of choice.

[2020-07-11 15:07] Cyclic3 commented on #143
Ausearch is now reasonably accurate, so this should not be a problem anymore

[2020-07-11 15:07] #143 closed

[2020-07-11 15:08] Cyclic3 commented on #142
That's an interesting idea, but I believe this is a more module by module thing. Maybe having a global config flag that is replicated (using `config_ref`) is a good way to go about this

[2020-07-11 15:09] Cyclic3 commented on #116
done

[2020-07-11 15:09] #116 closed

[2020-07-11 15:09] Cyclic3 commented on #118
done in orwell

[2020-07-11 15:10] Cyclic3 commented on #102
The language checker is now more involved, and the detector is deleted.

[2020-07-11 15:10] #102 closed

[2020-07-11 15:11] Cyclic3 commented on #92
NN removed in orwell

[2020-07-11 15:11] #92 closed

[2020-07-11 15:11] Cyclic3 commented on #80
done in orwell

[2020-07-11 15:11] #80 closed

[2020-07-11 15:11] Cyclic3 commented on #81
Yep, done in orwell

[2020-07-11 15:11] #81 closed

[2020-07-11 15:12] Cyclic3 commented on #33
We removed the multiprocessing pool in orwell

[2020-07-11 15:12] #33 closed

[2020-07-12 09:59] brandonskerritt opened #172 "GitHub Actions fail on Python 3.7"
https://github.com/Ciphey/Ciphey/runs/862493695?check_suite_focus=true

[2020-07-13 10:12] #165 closed

[2020-07-13 10:13] brandonskerritt commented on #113
An idea:
Instead of storing frequency of fetches, we store the last fetched date and use a decay curve to slowly rid ourselves over time.
This way, we keep the most popular (because if it is popular, it is frequently fetched) while also managing to keep "fads", such as an encryption or decoding used in a 3 day CTF (that is very popular for 3 days, but dies off afterwards)

[2020-07-17 13:03] brandonskerritt opened #180 "Config.yml config error"
Place this config file `config.yml` into appdirs:
[code]

Run Ciphey. It will error with:
[message(3).txt](https://github.com/Ciphey/Ciphey/files/4937931/message.3.txt)

[2020-07-18 10:21] brandonskerritt commented on #172
https://stackoverflow.com/questions/47218313/use-functools-lru-cache-without-specifying-maxsize-parameter

[2020-07-21 15:42] #172 closed

[2020-07-21 20:35] brandonskerritt commented on #180
This is caused by `- {` as it is not in quotes.
[code]

[2020-07-22 16:19] Cyclic3 commented on #113
An expiry time is usually part of Kademlia. If you are talking about a more stochastic approach (like a x% drop rate every hour), that might have some better performance, but it would be up to experimentation.

However, we also would benefit from having a frequency element to it. For instance, imagine a result common between ctfs (like the password hash 5723360ef11043a879520412e9ad897e0ebcb99cc820

[2020-07-22 22:10] Cyclic3 commented on #113
Upon further perusal of the literature (read: I actually checked the paper), it appears that there is an inbuilt caching mechanism in Kademlia that renders this frequency checking useless.

We should be fine using stock Kademlia for this.

[2020-07-22 22:50] brandonskerritt commented on #113
@Cyclic3 Can you share the papers you have read? Just so I and any others that may want to implement can take a look as well. :)

[2020-07-22 23:18] Cyclic3 commented on #113
https://pdos.csail.mit.edu/~petar/papers/maymounkov-kademlia-lncs.pdf is the original paper, but I used http://xlattice.sourceforge.net/components/protocol/kademlia/specs.html a lot when working out how to actually implement the system.

The latter is where I actually heard about the caching system from.

[2020-07-22 23:39] brandonskerritt commented on #113
@Cyclic3 When we release 5.0.0, do you want to work 100% on the DHT and I'll continue fixing / releasing 5.1?

[2020-07-23 07:39] Martin-Winfred opened #182 "Hope to add some new function"
This program is good at the regular type of encryption，but it can't Identify some of the uncommon encryption methods, such as URL and ROT. If that function can be added this program will be better.
And thank you for create a such wonderful program

[2020-07-23 08:24] brandonskerritt commented on #182
Hey @Martin-Winfred ! Ciphey can identify rot, but not URL encoding. I'll add it to the **Big List of Things to do** :tm:
https://github.com/Ciphey/Ciphey/issues/63
:smile:

[2020-07-23 09:23] ag5613 opened #183 "Simple Base64 decryption giving this error CODE ERREUR : 005"
The base64 string was "SGVsbG8gTXkgTmFtZSBpcyBBeXVzaCBHdXB0YSA="
Resultant output should be "Hello My Name is Ayush Gupta "
![image](https://user-images.githubusercontent.com/43028562/88270759-c73cef00-ccf3-11ea-9617-05ec2b5b7b28.png)
But it showed a error "CODE ERREUR : 005"

python - 3.6.9
ciphey - 4.2.1
cipheycore - 0.1.5
cipheydists - 0.2.2

[2020-07-23 09:55] brandonskerritt commented on #183
Hey!

Can you upgrade to this version of Ciphey and let me know if it's still broken?

[code]

[2020-07-23 14:17] fyoorer commented on #183
I am not getting any error, but ciphey couldn't detect simple base64 string. I tried with the stable as well as 5.0.0rc7, both failed.

5.0.0rc7
![rc7](https://user-images.githubusercontent.com/65155/88297202-9fd32b80-cccd-11ea-8afd-705f78fcecaf.png)

stable
![stable](https://user-images.githubusercontent.com/65155/88297205-a06bc200-cccd-11ea-88ee-0330ab6adbf6.png)

Here is the input string:
[code

[2020-07-23 23:56] #182 closed

[2020-07-24 02:43] Siegelcpp opened #184 "ImportError: cannot import name '_ciphey_core_py' from partially initialized module 'cipheycore'"
I installed ciphey under macos 10.15.5 and encountered such an error. How to solve it? I installed it according to the steps in the document.
![image](https://user-images.githubusercontent.com/44493013/88356466-7c29e700-cd9a-11ea-8e5b-c22eca8a76c9.png)

[2020-07-24 10:12] brandonskerritt commented on #183
Hey @fyoorer , your string decodes to:

[code]

Naturally, this doesn't pass the checker which defaults to English. In order for Ciphey to know when something becomes plaintext, it has to pass a `checker`. The default Checker is set to English. This text, isn't English. It is JSON.

However, if you was to use the Regex checker, this works :)

[code]

If you input it with regex

[2020-07-24 18:58] fyoorer commented on #183
Ah good to know. Thanks @autumnskerritt.

[2020-07-25 10:28] brandonskerritt commented on #184
Hey!

Can you try installing Ciphey's release candidate?

`python3 -m pip instal lciphey==5.0.0rc9`

:D

[2020-07-25 16:17] imlonghao opened #185 "Update dependency rich to latest version"
### Idea

I am currently working on #137, the AUR part.

When I am testing the package, there is a dependency error that should be fixed.

[code]

Current the `python-rich` is in 4.0.0. (I have to say it updates fast... https://aur.archlinux.org/cgit/aur.git/log/?h=python-rich

### Pros

I can write a PKGBUILD

### Cons

Maybe some breaking change for the rich API, code may need update, too.

[2020-07-25 16:50] brandonskerritt commented on #185
Woah, that is updating fast! I added the newest version a few months ago and now it's 4.0.
I just pushed an update to `master` to upgrade Rich to 4.0.0. It hasn't broken anything :)

[2020-07-25 16:57] imlonghao commented on #185
[code]

Now it is cipheydists out-of-date...

[2020-07-25 16:58] brandonskerritt commented on #185
Give me a minute, I'll go through everything and make sure it's all up to date :)

[2020-07-25 16:59] imlonghao commented on #185
You may want to try this bot: https://github.com/marketplace/renovate

[2020-07-25 20:27] Cyclic3 commented on #184
Just a note: I am having problems building cipheycore for macos python 3.7. If the problem persists with the rc, try running on python 3.8 (if possible).

I am in the process of overhauling the build system (again), as windows builds are completely failing

[2020-07-25 20:31] Cyclic3 commented on #183
It may be a good idea for us to use an OR with some common patterns, so that we catch this sort of thing by default.

Maybe jam together a regex checker (for CTFs) a JSON checker (for this) and the existing Autumn checker (for everything else).

I'll get to work on that right now!

[2020-07-25 21:31] bee-san opened #197 "Create a Homebrew install"
Homebrew is the package manager for Mac OS.

We would like Ciphey to feature on Homebrew.
If possible, we would like to use Homebrew core. However, we can use a normal Homebrew tap for now if it's easier for ya!

## Homebrew core
Another pentesting tool, Pwncat, is in Homebrew core with 300 stars. This means that, Ciphey, with 200 stars, should be able to make it into Homebrew core.

To do this, w

[2020-07-25 21:47] Cyclic3 commented on #180
This functionality was moved into the `regexlist` checler

[2020-07-25 21:47] #180 closed

[2020-07-25 21:48] Cyclic3 commented on #125
DW I fixed that

It now segfaults

[2020-07-25 23:25] brandonskerritt commented on #163
This is fixed

[2020-07-25 23:25] #163 closed

[2020-07-25 23:25] #141 closed

[2020-07-26 05:13] Siegelcpp commented on #184
Thanks for your suggestion, I have tried it and it still doesn't work

Thank you for your suggestions, I have tried it and it still doesn’t work. Looking forward to your updates, this is a very promising tool

[2020-07-26 05:43] #183 closed

[2020-07-26 21:49] #155 closed

[2020-07-26 22:08] bee-san opened #209 "Impossible to import config file"
It is currently impossible to import the config file.

To reproduce, make a config file and try to import it.

[2020-07-29 11:27] bee-san opened #213 "File opening is failing"
**Describe the bug**
When the file contains hex encoded data:

[code]

**To Reproduce**
Use a hex encoded file
Try to import it into Ciphey

[2020-07-29 11:29] brandonskerritt opened #214 "Fix newline after final result"
┌─[shardion@horizon]───[~/apks]───[04:34]
└─[$]─[0] ciphey - test_base64
Format used:
  utf8
  base64
Final result: "test base64 output
"

Appears to only be with Hex. Also you have a weird newline there, there's a little trick to print you can use to ignore the newline. print("test_str",end="")

[2020-07-29 12:08] TheAlcanian opened #215 "Deciphering base64-encoded files yield no results when run with -i"
**Describe the bug**
When running Ciphey on a base64-encoded file using the `-` command-line parameter, Ciphey picks up and decodes the base64-encoded file's contents, and prints the decoded content like normal. When running Ciphey on a base64-encoded file using the `-i` command-line parameter, Ciphey finds no results.

**To Reproduce**
Steps to reproduce the behavior:
1. What input did you use?
A

[2020-07-29 12:09] TheAlcanian commented on #215
Edited title because I remembered markdown doesn't work in titles

[2020-07-29 12:10] brandonskerritt commented on #215
@all-contributors please add @TheAlcanian for bugs

[2020-07-29 22:53] timshane opened #218 "No Module Named 'Decryptor'"
Receive the following error when attempting to run ciphey on macOS Catalina:

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/ciphey/Decryptor/basicEncryption/basic_parent.py", line 11, in <module>
    import Decryptor.basicEncryption.caesar as ca
ModuleNotFoundError: No module named 'Decryptor'

During handling of the above

[2020-07-30 13:55] brandonskerritt opened #219 "Hex decoder doesn't work"
On latest version with file input:

[code]
[test.txt](https://github.com/Ciphey/Ciphey/files/5001605/test.txt)

[2020-07-30 17:46] brandonskerritt commented on #218
Hey! This is caused by the current version of Ciphey.

Please use the latest version
[code]

[2020-07-30 17:46] #218 closed

[2020-07-31 22:38] Cyclic3 commented on #218
Just an addendum: we are planning to properly release this version tomorrow, which should mean that this never happens again

[2020-07-31 22:39] Cyclic3 commented on #219
That snippet in main should check if the user has requested binary input

[2020-07-31 22:42] Cyclic3 commented on #215
Can you run this with -vv (to give trace logging)?

[2020-07-31 22:42] Cyclic3 commented on #209
Config files seem to work on my system, could you give more detail?

[2020-07-31 22:45] Cyclic3 commented on #184
I have fixed macos builds for python versions 3.7 and 3.8. Installing the latest ciphey (v5.0.0rc10) should give you something that works better

[2020-08-01 02:42] Siegelcpp commented on #184
This is pretty cool, thanks for the update and I'll build it right away

[2020-08-01 07:42] TheAlcanian commented on #215
[decoded_but_not_output.txt](https://github.com/Ciphey/Ciphey/files/5009992/decoded_but_not_output.txt)
Decoded, but not output?

[2020-08-01 20:30] #52 closed

[2020-08-01 20:30] #144 closed

[2020-08-01 20:30] brandonskerritt commented on #125
@Cyclic3 fixed?

[2020-08-01 20:31] #39 closed

[2020-08-01 20:31] #47 closed

[2020-08-01 20:31] #50 closed

[2020-08-01 20:56] Cyclic3 commented on #219
This file doesn't seem to have any hex in it! I'm closing until some expected behaviour can be found

[2020-08-01 20:56] #219 closed

[2020-08-01 20:58] Cyclic3 commented on #184
@Siegelcpp We've just pushed version 5 (`python3 -m pip install -U ciphey==5.0.0`), which definitely should not have this problem. Please feel free to reopen this issue if we have *really* screwed up and this still exists there!

[2020-08-01 20:58] #184 closed

[2020-08-01 20:59] Cyclic3 commented on #214
That's intended. If you run `echo AA | base64`, it gives you the base64 encoding of `414120`, as `echo` appends a newline.

[2020-08-01 20:59] #214 closed

[2020-08-01 21:02] Cyclic3 commented on #125
Should be, yeah

[2020-08-01 21:03] #125 closed

[2020-08-02 18:05] Cyclic3 commented on #215
Ciphey seems to be loading the filename itself as the ciphertext, rather than as the input. The `-i` parameter actually doesn't really do anything atm, so I would omit it.

We are having difficulty reading in files with ciphey (hopefully fixed soon), so the best bet is to use `cat <file> | ciphey <flags...>` (or `type <file> | ciphey <flags...>` on windows`) until we get that fixed

[2020-08-03 09:05] TheAlcanian commented on #215
Sounds good.

[2020-08-03 09:39] aoprea1982 opened #232 "Base64 encoded cipher: base64 encoded after encryption"
### Problem:
base64 encoded after encryption
The cipher is from owaspcrackme level1 [https://github.com/OWASP/owasp-mstg/tree/master/Crackmes](url)
Currently Ciphey does not decrypt or identify this payload.  Keeps Thinking!

[code]

### Solution:
openssl to decode and decrypt the secret

[code]

Thank you!

Tsubasa

[2020-08-03 09:59] Cyclic3 commented on #232
@aoprea1982 With the information you have given us, it would seem like the only way to crack that (in the absence of more information) would be to brute-force a 128-bit key, which (for classical computers) would take more energy than there is in the solar system. The key `8d127684cbc37c17616d806cf50473cc` cannot be determined from the ciphertext in any much faster way (unless you have some groundb

[2020-08-03 09:59] #232 closed

[2020-08-03 11:48] Hermes981128 opened #233 "No matching distribution found for cipheycore<0.3.0,>=0.2.8 (from ciphey)"
I reported the following errors when I installed using pip.
ERROR: Could not find a version that satisfies the requirement cipheycore<0.3.0,>=0.2.8 (from ciphey) (from versions: 0.0.1, 0.1.0)
ERROR: No matching distribution found for cipheycore<0.3.0,>=0.2.8 (from ciphey)
![](https://hermes981128.oss-cn-shanghai.aliyuncs.com/1596455188262.png)

[2020-08-03 12:06] brandonskerritt commented on #233
Are you using Python 2, or Python 3? Ciphey only supports Python 3 :) If you are using python 3, please update `pip` for python 3 with `python3 -m pip install --upgrade pip`

[2020-08-04 09:58] #185 closed

[2020-08-04 10:58] Soowin commented on #233
Maybe the mirror list you use has not already synced the latest version of cipheycore.
You can install it with pypi now or wait a while.

[2020-08-04 11:21] Soowin opened #234 "Couldn't find cipheycore-0.2.9 on Windows"
**Describe the bug**
The latest version of cipheycore on Windows is 0.1.0, but ciphey requires 0.2.9 or higher

**To Reproduce**
Steps to reproduce the behavior:
python version: 3.8 on Windows
pip version: 20.2
run 'pip install ciphey', it shows "Could not find a version that satisfies the requirement cipheycore<0.3.0,>=0.2.8 (from ciphey) (from versions: 0.0.1, 0.1.0)"
![4(SG`$1V_01UMO5L(OWZ_9O](

[2020-08-04 13:53] brandonskerritt commented on #233
@Cyclic3 do you have any knowledge?

[2020-08-04 13:53] brandonskerritt commented on #234
@Cyclic3 ☹️ sad bois incorporated

[2020-08-04 13:54] brandonskerritt commented on #234
can you run the command exactly as shown on the GitHub README? it might solve your problems. can you.also confirm whether or not your windows install is Python 3? :)

[2020-08-04 14:08] NigelWidner commented on #234
I am having the same issue on Windows in the terminal trying to install Ciphey, I get a Ciphey Core issue. I am running Python 3.8.2.

Running:
"python -m pip install -U ciphey"
ERROR: Could not find a version that satisfies the requirement cipheycore<0.3.0,>=0.2.8 (from ciphey) (from versions: 0.0.1, 0.1.0)
ERROR: No matching distribution found for cipheycore<0.3.0,>=0.2.8 (from ciphey)

Running:

[2020-08-04 14:20] Cyclic3 commented on #234
@NigelWidner Would it be possible for you to update to the latest pytthon 3.8 (3.8.5) and try again?

[2020-08-04 14:21] Cyclic3 commented on #234
Are you running on a 32 bit machine?

[2020-08-04 14:22] Cyclic3 commented on #233
@Soowin Do you have a 32-bit installation of windows?

[2020-08-04 14:27] brandonskerritt opened #235 "Common Ciphey install solutions"
If you're having problems installing Ciphey, read this.

- [ ] Read this first [https://docs.ciphey.online/en/latest/install.html](https://docs.ciphey.online/en/latest/install.html)

- [ ] Are you using the latest version of Python? 3.8 and above? Ciphey does not support Python 2. Make sure to update :)

On Mac?
Mac has some rather unique dylib searching functionality, which can lead to weird segf

[2020-08-04 14:27] joaovarelas commented on #234
**Solved** by running `$ python3 -m pip install --upgrade pip`

[2020-08-04 14:30] oneout187 commented on #233
On Wed, 5 Aug 2020 at 12:22 am, Cyclic3 <notifications@github.com> wrote:

No I don’t have windows funny enough

[2020-08-04 14:42] Cyclic3 commented on #234
Great! Glad you got it working :)

[2020-08-04 14:42] #234 closed

[2020-08-04 14:43] Cyclic3 commented on #233
You seem to be running it in a CMD window though? What OS are you using?

[2020-08-04 14:44] Cyclic3 commented on #233
@Soowin Sorry, I at'ed the wrong person!

[2020-08-04 14:44] Cyclic3 commented on #233
@Hermes981128 Do you have a 32-bit installation of windows?

[2020-08-04 15:09] NigelWidner commented on #234
I just wanted to add, I solved this by having to install Python through the Windows App Store instead of the standalone package.

[2020-08-04 15:20] Cyclic3 commented on #61
We no longer use a neural net

[2020-08-04 15:20] #61 closed

[2020-08-04 15:22] 12345678kkmmxx opened #236 "ا"
### Idea
_What exactly do you want to do?_

### Pros
_How would it help the code? Does it make things faster, or the code more maintainable?_

### Cons
_Would this break anything? Would it mean a rewrite of all the code?_

[2020-08-04 15:25] oneout187 commented on #233
No I don’t

On Wed, 5 Aug 2020 at 12:44 am, Cyclic3 <notifications@github.com> wrote:

[2020-08-04 15:26] oneout187 commented on #233
Is 13.

On Wed, 5 Aug 2020 at 1:25 am, Nat Green <oneout428@gmail.com> wrote:

[2020-08-04 15:34] #236 closed

[2020-08-04 16:02] wcg-jrogers commented on #233
Same issue just now. 64 bit Windows 10 1903, running Python 3.8.5. No other versions of Python installed.

[code]

[2020-08-04 16:04] brandonskerritt commented on #233
Hey @wcg-jrogers !

I'm not dev of CipheyCore, but what happens if you try to install CipheyCore manually?

[code]

[2020-08-04 16:11] wcg-jrogers commented on #233
@brandonskerritt

`C:\Windows\system32>pip install cipheycore==0.2.9
ERROR: Could not find a version that satisfies the requirement cipheycore==0.2.9 (from versions: 0.0.1, 0.1.0)
ERROR: No matching distribution found for cipheycore==0.2.9

C:\Windows\system32>pip install cipheycore==0.2.8
ERROR: Could not find a version that satisfies the requirement cipheycore==0.2.8 (from versions: 0.0.1, 0.1.0

[2020-08-04 16:15] Cyclic3 commented on #233
#234 was a similar problem, and was solved by a mixture of updating pip `python3 -m pip install --upgrade pip` and installing python from the windows app store. Do either (or both) of these work for you?

[2020-08-04 16:22] 12345678kkmmxx opened #237 "ا"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. What input did you use?
2. What flags / arguments did you use?

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions:**
 - OS/Distro: [e.g. Windows, D

[2020-08-04 16:23] 12345678kkmmxx commented on #237
في ثلاثاء، 4 أغسطس، 2020 في 19:23، كتب issue-label-bot[bot] <
notifications@github.com>:

--
ابو غازي

[2020-08-04 16:26] wcg-jrogers commented on #233
@Cyclic3 Installing Python 3.8 from the Windows store (on TOP of my manually installed 3.8.5), then running ```python3 -m pip install -U ciphey```

Weird thing is that running the same command with "python" instead of "python3" fails, despite being the exact same version (3.8.5).

Ah, I see the difference:

[code]

Looks like the 32-bit python will fail to install the current _ciphercore_ library,

[2020-08-04 16:32] Cyclic3 commented on #233
That's a really odd decision from python! I'll take a look at making a 32-bit build, so that this is more fluid in the future!

[2020-08-04 16:32] #233 closed

[2020-08-04 16:34] Cyclic3 commented on #237
This seems to be just an unedited bug report template. Please feel free to reopen if I am mistaken!

[2020-08-04 16:34] #237 closed

[2020-08-04 18:08] harens commented on #197
I'd like to help out with this issue, since I've had some experience submitting python packages to [homebrew/core](https://github.com/Homebrew/homebrew-core) in the past, and I'd love to support the project!

I've started writing a formula, but I've had some problems with the dependency cipheycore. On the [PyPi download page](https://pypi.org/project/cipheycore/#files), the only file type present

[2020-08-04 18:10] brandonskerritt commented on #197
Hey @harens ! Thanks **SO** much for taking this on, it's also really cool you've submitted to Core too. I've tried to read the documentation so many times, but It just confuses me too much.

@Cyclic3 knows the answer to this, as they are the CipheyCore creator / maintainer :)

[2020-08-04 18:17] Cyclic3 commented on #197
@harens The problem is that the project is built in two stages, with the C++ cmake build creating an autogenerated python module (using SWIG), and then a thin poetry wrapper is used to build the wheel. This means that the resultant source distribution actually just consists of a small python script and a compiled library.

CipheyCore uses cmake, and the build process is fairly standard, with an ex

[2020-08-04 22:03] Cyclic3 opened #238 "MacOS GitHub Action issue"
**Describe the bug**
We keep getting a segfault in the github action for ciphey, but this cannot be repro'd on anyone's real-world system

**To Reproduce**
Steps to reproduce the behavior:
1. Add MacOS to CI
2. ha ha CI machine goes brrr

**Expected behavior**
Tests to run fine, like they do on all other machines

[2020-08-04 23:54] Hermes981128 commented on #233
I use a 32-bit Python program, but my computer is 64-bit.

[2020-08-04 23:58] Hermes981128 commented on #233
![](https://hermes981128.oss-cn-shanghai.aliyuncs.com/1596585485484.png)
It doesn't seem feasible

[2020-08-05 00:00] Hermes981128 commented on #233
It should be for this reason that I try to install 64-bit software

[2020-08-05 05:32] SR2374 commented on #238
How i can fix

[2020-08-05 08:28] Cyclic3 commented on #238
Hi @SR2374 !

I'm not entirely sure how to fix the bug (or I would have already done it :smiley:). If you have some ideas you would like to try, try forking Ciphey, and fiddling with `.github/workflows/tests2.yml` there (macos is currently commented out in that file, and needs to be re-added to the list).

If you do get it working, then please shoot us a pull request, and we will make sure to add

[2020-08-05 10:41] #41 closed

[2020-08-05 11:43] franc-ist commented on #63
The [Standard Galactic Alphabet](www.shikadi.net/keenwiki/Standard_Galactic_Alphabet) (Minecraft enchanting table language) is just a substitution cipher, where each letter in the Latin alphabet has been substituted with a different symbol.

For example,
[code]
reads as
[code]
when translated. I assume you could map each SGA symbol to its Latin counterpart in a dictionary and just iterate through

[2020-08-05 14:13] lukasgabriel commented on #63
@brandonskerritt Would the NATO alphabet be covered by 'First letter of every word'?
@franc-ist Thanks, if it's just a simple substitution cipher, I'll try and implement it.

[2020-08-05 14:14] brandonskerritt commented on #63
Yes, it would be! I tried to implement a nice recursive function for it, but I had bigger problems at the same :yum:

Check out the documentation too :)
https://docs.ciphey.online/en/latest/makingCiphers.html

[2020-08-05 14:19] SR2374 commented on #238
Oki😊

[2020-08-05 16:54] lukasgabriel opened #248 "Encountered TypeError when decrypting long input"
**Traceback:**
[code]

**Input used:**
[code]

**Expected:**
My atbash decoder should pick it up and decode it.

**Versions:**
 - Windows 10 1909
 - Python version: 3.7.4
 - Ciphey versions: 5.0.0

[2020-08-05 16:57] bee-san commented on #248
that's a Autumn checker problem and as the name implies it is also my problem 😅😂 sorry!

[2020-08-05 20:50] Apocsword opened #252 "https://docs.ciphey.online/ call"
Want to be able to install this into my phone

[2020-08-05 21:22] Cyclic3 commented on #252
@Apocsword Do you mean installing ciphey on your phone?

We are working on a webapp, which would work on mobile devices

[2020-08-05 21:22] Apocsword commented on #252
That be bad ass!!

[2020-08-05 22:25] Cyclic3 commented on #252
I'll close this, as this is already in the works. Please reopen if there is anything more!

[2020-08-05 22:25] #252 closed

[2020-08-05 22:40] Audition-CSBlock opened #253 "fish: 'ciphey' terminated by signal SIGSEGV (Address boundary error)"
SIGSEGV error

**Reproduce:**
install ciphey using the guide on macos using python3.8.5

**Expected behavior:**
that it works

**Versions:**
 - OS X Catalina
 - Python 3.8.5
 - Ciphey versions: ciphey5.1.0 cipheycore0.2.9 cipheydists0.3.18

[2020-08-06 03:06] amalyaoldano opened #254 "Please help"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. What input did you use?
2. What flags / arguments did you use?

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions:**
 - OS/Distro: [e.g. Windows, D

[2020-08-06 03:15] #254 closed

[2020-08-06 08:12] Cyclic3 commented on #253
Can you please give an example ciphertext that triggers this?

[2020-08-06 09:32] harens commented on #197
Thanks for both of your replies. Just to give you an update on where I am at the moment. Thanks to the instructions from @Cyclic3, I've been able to build a source distribution, and the only problem I need to fix is how to package cipheycore.

poetry has clikit as a dependency, and clikit has poetry as a dependency. This is a known https://github.com/python-poetry/poetry/issues/1975 bug and has ca

[2020-08-06 09:56] Audition-CSBlock commented on #253
Well it happens when i run ciphey itself, so even if i give any input it will still give me a SIGSEGV

[2020-08-06 11:02] Sheey11 opened #256 "Run `ciphey` faild in macOS"
**Describe the bug**
A clear and concise description of what the bug is.
Run `ciphey` faild in macOS.
[code]
Then python crashed.

**To Reproduce**
Just run `ciphey`.

**Expected behavior**
Run normally.

**Screenshots**
<img width="346" alt="Screen Shot 2020-08-06 at 6 55 18 PM" src="https://user-images.githubusercontent.com/13375959/89524004-61358900-d816-11ea-8665-b637478e1bc1.png">

**Versions

[2020-08-06 11:02] Sheey11 commented on #256
Error info in macOS problem report:
[code]

[2020-08-06 11:07] brandonskerritt commented on #256
Can you run Ciphey with `-vvv` please and paste the results here? :)

[2020-08-06 11:10] Sheey11 commented on #256
Still same,  python crashed with `segmentation fault`.

[2020-08-06 11:53] Cyclic3 commented on #256
What is the output of `-vvv`?

[2020-08-06 11:53] Cyclic3 commented on #253
Is this the same as #256?

[2020-08-06 12:49] Sheey11 commented on #256
@Cyclic3 no output, just an execption `segmentation fault` and python crashes again.

[2020-08-06 13:01] Sheey11 commented on #256
Also, I tried run it with python3.7, and python is not crashing, but it throws an execption
[code]
The `_ciphey_core_py.so` file DOSE exist in that folder, then I googled it, found a [stackoverflow question](https://stackoverflow.com/questions/17703510/dyld-library-not-loaded-reason-image-not-found), tried
[code]
and I made sure all dependecy dylib file exsit in the right path, but it didn't work,

[2020-08-06 15:13] lukasgabriel commented on #63
Implemented 👍

[2020-08-06 17:41] Cyclic3 commented on #256
This problem *should* be fixed on the (very experimental) `xor-ciphers` branch.

[2020-08-06 22:13] Audition-CSBlock commented on #253
@Cyclic3 looked through it and it doesn't seem like it, sorry for the late response, had some stuff to do.

[2020-08-07 03:37] yezz123 opened #259 "Running Ciphey on Windows 10"
Hy i have a little idea based on creating an desktop application using python fot ciphey make that decrypt in easy way.
thank you !

[2020-08-07 09:29] Cyclic3 commented on #253
Could you try cloning and running the `xor-ciphers` branch? It should hopefully fix this problem

[2020-08-07 09:35] Cyclic3 commented on #68
You sort of can ATM

[2020-08-07 09:35] #68 closed

[2020-08-07 09:56] brandonskerritt commented on #259
Hey,

If you're asking "can I make a Windows 10 app with Ciphey involved" -- you can.

Ciphey is fully open source and can be imported & used by any other Python library :)

[2020-08-07 12:45] lukasgabriel opened #262 "Galactic Alphabet Decoder cannot handle 'x' when it's surrounded by other letters."
When running ciphey with an input that's encoded in the Standard Galactic Alphabet, it applies my SGA decoder. If that input string contains a word that has an 'x' surrounded by other letters (no whitespace in between), it fails to do the replacement correctly and leaves a Unicode diacritical mark (Updot) as an artifact. I'm still working on a fix for this.

This is the character: `  ̇  ` (U+0307,

[2020-08-07 14:30] lukasgabriel commented on #262
I was confused :D

[2020-08-07 20:36] zainarbani opened #264 "Termux installation failed"
**Describe the bug**
The latest version of cipheycore on Termux is 0.1.0, but ciphey requires 0.2.9 or higher.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install ciphey --upgrade
2. pip install cipheycore==0.2.9

**Versions:**
 - OS/Distro: Linux arm64, Android 10 (Termux)
 - Python version: 3.8.2

![Screenshot_20200808-032507](https://user-images.githubusercontent.com/31644731/8968

[2020-08-08 05:44] Audition-CSBlock commented on #253
@Cyclic3 i cloned it but i've tried running it and there is no documentation for that, i've looked around in directories but can't get it to work. any help on running it from scratch?

[2020-08-08 05:48] Audition-CSBlock commented on #253
when i try and run it on py3.7.7 it gives me this error (might be of any help?) i also hid the user dir names:
`Traceback (most recent call last):
  File "/Users//.pyenv/versions/3.7.7/bin/ciphey", line 5, in <module>
    from ciphey.ciphey import main
  File "/Users//.pyenv/versions/3.7.7/lib/python3.7/site-packages/ciphey/__init__.py", line 1, in <module>
    from . import common
  File "/Users/

[2020-08-08 09:27] Cyclic3 commented on #253
Did you upgrade cipheycore to 0.3.0-rc4?

[2020-08-08 11:43] Audition-CSBlock commented on #253
@Cyclic3 yes, i upgraded both, on both py3.8.5 and py3.7.7, both still fail:

3.8.5:
`'ciphey' terminated by signal SIGSEGV (Address boundary error)`

3.7.7:
`Traceback (most recent call last):
  File "/Users//.pyenv/versions/3.7.7/bin/ciphey", line 5, in <module>
    from ciphey.ciphey import main
  File "/Users//.pyenv/versions/3.7.7/lib/python3.7/site-packages/ciphey/__init__.py", line 1, in <m

[2020-08-09 09:09] harens commented on #197
Until the cyclic dependency issue is fixed upstream, either by poetry or clikit, I'm a bit stumped as to how to write the formula.

There are five dependencies that require poetry, and so unlike [another homebrew formula](https://github.com/Homebrew/homebrew-core/pull/58501), it seems impractical in this case to try and remove these dependencies:

- cipheycore
- cipheydists
- rich
- yaspin
- (ciph

[2020-08-09 09:16] Audition-CSBlock commented on #253
@Cyclic3 hey! i think i found the issue, i tried running and installing ciphey on my default python installation (no pyenv) and it worked! so it must have something to do with pyenv, I'll look into it more.

this also may be the solution for #256

[2020-08-09 13:32] Cyclic3 commented on #264
We do not currently have an android build of cipheycore (the C++ library that does the more intensive tasks).

However, you can build your own one using the documentation here (freshly created for this issue).

[2020-08-09 13:34] Cyclic3 commented on #253
@Audition-CSBlock That's great news! If you can track down exactly why the MacOS pyenv causes all these problems, please do let us know!

I have to admit that my knowledge of MacOS is rather limited, so any help you could provide would be much appreciated.

[2020-08-09 13:36] Cyclic3 commented on #256
@Audition-CSBlock has experienced a similar issue over in #253. The (temporary) solution was to disable pyenv, does this help anyone else?

[2020-08-09 13:40] Audition-CSBlock commented on #253
@Cyclic3 I am still searching left and right but it seems to be a big problem to this day.

I am also new to Mac, got tired of Microsoft's bullshit and switched to Linux for my desktop and Mac for my new laptop. Mac works kinda like linux and their laptops are sleek which I prefer more than powerhungry bulky laptops :).

[2020-08-09 13:42] Audition-CSBlock commented on #253
@Cyclic3 also, mind if I leave this issue open? There might be other people with more useful info.

[2020-08-09 17:21] zainarbani commented on #264
Thanks for your response,
I will try it.

[2020-08-09 17:21] #264 closed

[2020-08-10 14:28] Sheey11 commented on #256
I was not using pyenv or any similar environment configurations, py3.8 still crash.
And I tried with non-conda version py3.7, sitll cannot found image.

[2020-08-10 15:32] bookdude commented on #233
Can we please revisit.  The errors are still present.  This should not be closed.

[2020-08-10 16:37] brandonskerritt commented on #233
Does this not solve it? :)

https://github.com/Ciphey/Ciphey/issues/233#issuecomment-668695626

[2020-08-10 19:22] Audition-CSBlock commented on #256
@Sheey11 what way are you installing python? Any installation logs?

[2020-08-11 01:33] Sheey11 commented on #256
`py3.8` was installed with the app(pkg file) in [python.org](https://python.org).
`py3.7 with conda` was installed with [miniconda install script](https://docs.conda.io/en/latest/miniconda.html).
`py3.7` was installed with `brew install python3`.

I'm sorry there were no logs, because it is too far away, log files may be deleted by clean tool.

[2020-08-11 02:16] reber0 opened #266 "macOS, pip install, Could not find cipheycore==0.2.9"
macOS Mojave 10.14.6

[10:12 xxx@xxx at ~/Downloads/Ciphey git:(master) ✗]
➜  python3 --version
Python 3.8.5
[10:15 xxx@xxx at ~/Downloads/Ciphey git:(master) ✗]
➜  python3 -m pip install --upgrade pip
Requirement already up-to-date: pip in /usr/local/lib/python3.8/site-packages (20.2.1)

[10:12 xxx@xxx at ~/Downloads/Ciphey git:(master) ✗]
➜  pip3 install -r requirements.txt
Ignoring atomicwrites

[2020-08-11 16:27] dlimanov commented on #266
Yep, having the same issue on 10.14.6

[2020-08-11 16:42] deepio commented on #266
well... until they get around to it... `pip install ciphey==3.5.7` works

[2020-08-11 16:49] dlimanov commented on #266
thanks @deepio, that indeed worked!

[2020-08-12 02:34] wesinator opened #269 "running ciphey -f against file with unknown text encoding causes system hang, process gets killed on Ubuntu 20.04"
**Describe the bug**
running ciphey -f against a file with unknown text encoding/encryption causes a system hang and out of memory on Ubuntu 20.04 , the ciphey process prints a `Killed` message to the terminal

Other applications (such as Firefox) and the desktop become unresponsive for a time, on Ubuntu usually an indicator that a process is consuming too much memory thereby causing system instab

[2020-08-12 04:24] brignano opened #271 "Incorrect format loading"
Shouldn't line 227 below be `config.update_format("out", "bytes")`?

https://github.com/Ciphey/Ciphey/blob/a26abe0da2794efea00694fc32cd1554374f4e71/ciphey/ciphey.py#L222-L227

https://github.com/Ciphey/Ciphey/blob/a26abe0da2794efea00694fc32cd1554374f4e71/ciphey/iface/_config.py#L67

[2020-08-12 10:50] brandonskerritt commented on #269
Hey! Does it work if you use `ciphey - file.txt`?

[2020-08-12 11:03] Cyclic3 commented on #271
Yes, you are absolutely right!

@all-contributors please add @brignano for bug

[2020-08-12 11:03] Cyclic3 commented on #271
*sigh*

[2020-08-12 11:18] Cyclic3 commented on #269
Your ciphertext is clearly base64 encoded, but I cannot work out what format the bytes are in. It definitely isn't machine code (as you might expect from a PE binary), and both `binwalk` and `file` have no idea what it could be. It may be a lot faster to look through the context for this data in the PE binary, perhaps you can uncover how it was encrypted there.

Ciphey succeeds in decoding it as b

[2020-08-12 12:40] wesinator commented on #269
understood, thanks for looking into it @Cyclic3

[2020-08-12 13:38] deepio commented on #266
@reber0 until the authors fix this, I think this is still an issue and should remain open. What do you think?

[2020-08-12 13:41] brandonskerritt commented on #266
I **HIGHLY** suggest not using that version :cry:

[2020-08-12 13:44] deepio commented on #266
@brandonskerritt I'm very well aware, but despite your best efforts (which I'm really happy to see, honestly! you have a stance of not pushing a new version unless all tests pass and it's fantastic! ) we still can't use the latest versions without building cipheycore locally.

[2020-08-12 15:30] packetrat opened #274 "Error during pip install re: tensorflow on Ubuntu"
Could not find a version that satisfies the requirement tensorflow<3.0.0,>=2.1.0 (from ciphey) (from versions: 0.12.1, 1.0.0, 1.0.1, 1.1.0rc0, 1.1.0rc1, 1.1.0rc2, 1.1.0, 1.2.0rc0, 1.2.0rc1, 1.2.0rc2, 1.2.0, 1.2.1, 1.3.0rc0, 1.3.0rc1, 1.3.0rc2, 1.3.0, 1.4.0rc0, 1.4.0rc1, 1.4.0, 1.4.1, 1.5.0rc0, 1.5.0rc1, 1.5.0, 1.5.1, 1.6.0rc0, 1.6.0rc1, 1.6.0, 1.7.0rc0, 1.7.0rc1, 1.7.0, 1.7.1, 1.8.0rc0, 1.8.0rc1,

[2020-08-12 16:11] brandonskerritt commented on #274
Ciphey does not use tensorflow :) Please fill out the full bug template, and make sure you are installing the latest version of Ciphey with Python 3+ :)

[2020-08-12 16:30] brandonskerritt commented on #266
Hey!!

Someone made a docker image, can you try and use this? It uses the latest version (which has a slight bug in the output, [old green] is printed because of some weird char escaping, but its fixed in #275 )

[code]

[2020-08-12 16:32] #259 closed

[2020-08-12 16:32] brandonskerritt commented on #256
Hey!

Someone contributed a Docker image, does this fix your problems?
[code]

[2020-08-12 16:54] brandonskerritt opened #276 "X&Y does not work with spaces"
X&Y decryptor does not work with spaces.

# From code review

This is making the assumption that the string only contains 2 chars, which is wrong I believe. Binary strings in CTFs often have spaces, commas, new lines to delimiter themselves:
https://gchq.github.io/CyberChef/#recipe=To_Binary('Space')&input=aGVsbG8gbXkgbmFtZSBpcw

Honestly the way I would do it would be the way you're doing it but

[2020-08-12 16:56] virtadpt commented on #269
For what it's worth, I ran into this as well on Arch Linux (latest) with a test string (base64 encoded, then base32 encoded).

[2020-08-12 17:11] lukasgabriel commented on #276
Currently, it _will_ work with spaces, but not with any other delimiter.

*Example:*
[code]

*Output:*
[code]

[2020-08-12 17:16] lukasgabriel commented on #63
Idea: https://en.wikipedia.org/wiki/Four-square_cipher

[2020-08-12 17:17] brandonskerritt commented on #63
How easy is this to add? :)

[2020-08-12 19:38] deepio commented on #266
I'm looking forward to using the docker version until this issue is resolved, thank you.

[2020-08-12 20:04] deepio commented on #266
I looked into it further. @brandonskerritt The problem has nothing to do with your code.

https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on github only runs the latest catalina for actions. I tend to use travis because there are more options here, but they have problems too.

https://github.com/Ciphey/CipheyCore/blob/master/.github/workflows/build-ma

[2020-08-13 02:46] brignano commented on #271
Closed by #270

[2020-08-13 02:46] #271 closed

[2020-08-13 13:44] lukasgabriel opened #280 "Switch out the current `answer_str` used in tests for a pangram."
Unrelated idea: Switch out the current `answer_str` for a pangram such as `The quick brown fox jumps over the lazy dog` or `Sphinx of black quartz, judge my vow`. This would help detect errors in output that only affect certain characters - which, for example, my galactic decoder is struggling with.

_Originally posted by @lukasgabriel in https://github.com/Ciphey/Ciphey/pull/265/review_comment/cr

[2020-08-13 13:58] brandonskerritt commented on #280
actually believe it or not but we have a program which auto generated mass amounts of tests using random strings from.books etc, it's called generate_tests.py and is in tests/ directory 😂😂 we haven't used it in over a month though, but it's very good to generate 200k tests or so :)

[2020-08-13 13:59] brandonskerritt commented on #280
Also Cyclic3 begged me to stop using it as our CI would time out if I accidentally uploaded the tests

[2020-08-13 14:10] lukasgabriel commented on #63
I'd say hard to very hard:
http://practicalcryptography.com/cryptanalysis/stochastic-searching/cryptanalysis-foursquare-cipher/

This goes very in-depth and provides C code examples. Look into the comments also. Much too advanced for me personally.

[2020-08-14 16:31] Cyclic3 commented on #266
@deepio You can build cipheycore yourself if you wish to have a version that works natively. The instructions at https://github.com/Ciphey/CipheyCore/blob/master/README.md are pretty comprehensive

[2020-08-14 17:21] Cyclic3 commented on #274
After hacking away at this on a docker container for an hour, I found the solution:

[code]

Please reopen if this doesn't work for you!

[2020-08-14 17:21] #274 closed

[2020-08-15 01:16] deepio commented on #266
Yes, much appreciated 👍

[2020-08-15 22:21] lukasgabriel opened #282 "Input causes infinite loop; Percent signs in input cause issues"
**INPUT:**
[code]

Program will output the following indefinitely:
` TRACE    | ciphey.basemods.Checkers.brandon:checker:154 - To analyse is [] `

 - Windows 10 1909
 - Python 3.7
 - Ciphey 5.2.0

X-Y cracker will sometimes fail due to unknown reasons when a `%` is part of the cstring, mostly when combined with other symbols such as an underscore, a period or an asterisk. Sometimes this will happe

[2020-08-15 23:20] bee-san commented on #282
Pretty sure this is caused by the while loop in `autumn` checker :(

[2020-08-17 14:03] #280 closed

[2020-08-24 21:33] AaronBitman opened #287 "Installing ciphey failed in Windows 7"
I tried to install ciphey with pip. I got:

  Could not find a version that satisfies the requirement cipheycore(0.3.0,)=0.2.8 (from ciphey) (from versions: )
No matching distribution found for cipheycore(0.3.0,)=0.2.8 (from ciphey)

**Versions:**
- Windows 7 Professional version 6.1 (Build 7601: Service Pack 1)
- Python version: 3.7.4
- pip version: First 19.0.3, and when that failed, 20.2.2

[2020-08-25 01:48] lukasgabriel commented on #282
@all-contributors please add @lukasgabriel for bug reports

[2020-08-25 01:49] lukasgabriel commented on #282
Two bugs for the price of one

[2020-08-25 01:50] lukasgabriel commented on #282
@all-contributors please add @lukasgabriel for bug

[2020-08-25 03:06] DarshanBhoi opened #289 "Ciphey Failed To Crack!"
**Describe the bug**
When I tried to decrypt the encoded string with Ciphey, it will try to crack it and in the end, it is unable to crack it and I got the output saying **"Failed to crack"**.

**To Reproduce**
Steps to reproduce the behavior:
1. What input did you use?
Ans. I'm trying to decode the string "Ecgudfxq_EcGmP". This is the input: "Ecgudfxq_EcGmP"
2. What flags / arguments did you use?

[2020-08-25 10:28] lukasgabriel commented on #282
@all-contributors please add @lukasgabriel for bug

[2020-08-25 10:28] Cyclic3 opened #291 "Case preservation"
### Problem:
Caesar, atbash and vigenere drop the case, leading to possible cracker cycles and lost information

### Solution:
Create a bool vector with the case, allowing quick and easy case fixing *after* we crack it

[2020-08-25 10:58] lukasgabriel commented on #289
@all-contributors please add @DarshanBhoi  for bug

[2020-08-25 11:15] Cyclic3 commented on #289
As discussed in the discord, this is *sort of* intended behaviour, since this is clearly not standard english text, a flag, or JSON. The checks that prevent this from being decoded can be bypassed with this (assuming you have a crib of `squad`):

[code]

To break this rather cryptic command down:

| Flags |  Description |
| -| -|
| `-t  "Ecgudfxq_EcGmP"` | Your ciphertext |
| `-p caesar.p_value=-1

[2020-08-25 12:48] Cyclic3 commented on #289
On closer inspection, it appears that this is actually a symptom of #291. This may work after that is fixed

[2020-08-25 18:47] #291 closed

[2020-08-25 23:43] 5l1v3r1 opened #295 "Tensorflow"
First of all you are doing a great job. Secondly did you remove tensorflow support ? and if you did so, so what do use instead now? Thank you

[2020-08-26 00:26] 5l1v3r1 commented on #295
I got my answer from the discord channel. Thank you :) you can close the issue.

[2020-08-26 06:43] #295 closed

[2020-08-26 11:56] brandonskerritt opened #296 "Use CipheyDists for Atbash"
This line here:
https://github.com/Ciphey/Ciphey/blob/master/ciphey/basemods/Decoders/atbash.py#L22

Uses a hardcoded alphabet. We should use CipheyDists instead because of I18N.

[2020-08-28 03:41] handbye commented on #256
[code]

same problem with Anconda python3.7

[2020-08-28 03:47] phspade opened #300 "ciphey always stuck up"
Hi,

Every time I run `ciphey -t "<some encoding>"` it's always stuck in "Thinking".

[2020-08-28 14:22] lukasgabriel commented on #300
Hello @phspade ,
please provide us with the following information so we can diagnose the issue:

1. What inputs did you use?
2. Which flags / arguments did you use?
3. On which OS & version are you running ciphey?

If you have time, please run Ciphey with `ciphey -vvv` and post the results (either as a file, or copied & pasted) here.

Thanks a lot  😄

[2020-08-29 01:36] SkeletalDemise commented on #63
Why is Base8 (octal) under not done? Octal is already implemented unless I'm missed something. Just wondering.

[2020-08-29 05:05] phspade commented on #300
Hi @lukasgabriel,

Which flags / arguments did you use?

I just used the `-t` option. Now I run the same command `ciphey -t <mu encoding> -vvv` and I discover that it's still running and it looks like it's taking too long.

Running it on my VPS which is Latest Parrot OS.

Just a quick reminder. Maybe instead of the world icon logo/gif. Try to change it by some progress bar or percentage so that us

[2020-08-29 10:53] #276 closed

[2020-08-29 10:59] #296 closed

[2020-08-29 15:28] lukasgabriel commented on #300
Thank you for providing more info!

Could you maybe share the inputs that you used as well? Do you know what they are encoded/encrypted with?
If you could provide any logs that would be great as well.

If Ciphey is running for a very long time, it's most likely that it has entered an infinite loop and is not going to find a solution.
So the best way to troubleshoot this would be to look at the log

[2020-08-30 03:59] SkeletalDemise opened #310 "Base62 decoding is not working"
**Describe the bug**
Base62 decoding is not working properly.

**To Reproduce**
Steps to reproduce the behavior:
1. What input did you use?
`ciphey -t "126hVJJr0BxMumjWTECjbf0W5wF4DFPXG1NcA"`
2. What flags / arguments did you use?
N/A

**Verbose Output**
N/A because it silently fails and there's no logging for Base62.

**Expected behavior**
That Ciphey can decode Base62 properly.

**Versions:**
 -

[2020-08-30 12:29] brandonskerritt commented on #310
Fixed in #311

[2020-08-30 12:29] #310 closed

[2020-08-30 12:50] Cyclic3 commented on #300
As a side note, a progress bar *is* something we looked at, but our ability to handle nested ciphers makes it impossible to determine a useful "progress" heuristic. That being said, we are looking at redoing it to use some entropy heuristic at some point.

[2020-08-31 07:24] s2339956 commented on #233
[code]

[2020-08-31 11:15] brandonskerritt commented on #63
fixed this!

[2020-09-01 10:56] Alexeyan opened #317 "Endless loop on simple base64 encode"
**Describe the bug**
When evaluating ciphey against a simple base64 encoding it runs for a while and then freezes.
-vvv shows that it at one point successfully decodes the file but then tries more encodings and ciphers and dies after trying Vignere.

**To Reproduce**
ciphey -f <(cat /etc/passwd | base64) -vvv

**Expected behavior**
Base64 decoding into something that is mostly valid english should

[2020-09-01 11:00] brandonskerritt commented on #317
What is the exact plaintext? :)
I think it's because the plaintext is not one of these:
1. English
2. JSON
3. You didn't include a crib
Ciphey cannot tell when something is plaintext or not unless we program that in, we do this using "checkers". Programs like CyberChef only do encodings, which means they expect one input to equal one output. In Ciphey, it is very possible for Base64 to perfectly d

[2020-09-01 12:18] #317 closed

[2020-09-01 12:19] brandonskerritt commented on #287
Please read our wiki page on installation on Windows :)

[2020-09-01 12:19] #287 closed

[2020-09-01 12:20] brandonskerritt commented on #256
No activity for 20 days, closing issue.

[2020-09-01 12:20] #256 closed

[2020-09-01 12:20] brandonskerritt commented on #235
Closing in favour of wiki

[2020-09-01 12:20] #235 closed

[2020-09-01 12:21] brandonskerritt commented on #269
Closing in favor of making a new issue

[2020-09-01 12:21] #269 closed

[2020-09-01 12:22] bee-san opened #319 "Cracking huge ciphertext causes OOM"
"Ciphey succeeds in decoding it as base64, but then gets stuck trying to crack such a huge ciphertext (probably on vigenere). Whilst hanging is rather expected, it should definitely not cause an OOM condition on your system! I'll see if I can track down the memory-hogging function, and fix this." from @Cyclic3 in #269

[2020-09-01 14:35] tuminoid commented on #266
Currently, pip3/Python 3.6.9 says ciphey 5.3.2 is requiring cipheycore >=0.15 <0.2.0, but available package is 0.2.9, so at the moment ciphey cannot be installed.

[2020-09-01 14:39] brandonskerritt commented on #266
Ciphey does not support python 3.6.9, only Python 3.7 and higher :)

[2020-09-01 15:11] tuminoid commented on #266
https://docs.ciphey.online/en/latest/install.html says 3.6 🙁

[2020-09-01 15:18] brandonskerritt commented on #266
Oh no!!! We're moving away from that docs page to a GitHub wiki :-( Where did you find the link for that? is it buried in the README?

So sorry! We're still in the process of moving :sweat_smile:

[2020-09-01 18:04] tuminoid commented on #266
It's like first link top of the readme.md: "Installation Guide" 🤭 Thanks for letting me know.

[2020-09-02 11:13] PureWaterSun opened #322 "how to solve this pronlem"
192:~ hh$ ciphey
Traceback (most recent call last):
  File "/usr/local/bin/ciphey", line 5, in <module>
    from ciphey.ciphey import main
  File "/usr/local/lib/python3.7/site-packages/ciphey/__init__.py", line 1, in <module>
    from . import common
  File "/usr/local/lib/python3.7/site-packages/ciphey/common.py", line 5, in <module>
    import cipheycore
  File "/usr/local/lib/python3.7/site-pa

[2020-09-02 11:14] brandonskerritt commented on #322
Hey!

You did not fill out the bug template, so we cannot help you. Please fill it out :)

[2020-09-02 11:14] #322 closed

[2020-09-02 11:17] Cyclic3 commented on #319
Wow someone should really do something about that /s

I'm currently doing a whole bunch of stuff to the core to get the xorcrypt stuff reliable, so I'll come back to this when that codebase is more stable

[2020-09-02 11:30] PureWaterSun opened #323 "After I install Ciphey, I run the command “Ciphey ”.The system return an error."
**Describe the bug**
After I install Ciphey, I run the command “Ciphey ”.The system return an error.

=================

192:~ hh$ ciphey
Traceback (most recent call last):
  File "/usr/local/bin/ciphey", line 5, in <module>
    from ciphey.ciphey import main
  File "/usr/local/lib/python3.7/site-packages/ciphey/__init__.py", line 1, in <module>
    from . import common
  File "/usr/local/lib/pyth

[2020-09-02 11:44] brandonskerritt commented on #323
Per the bug report template, we have this section:
https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions
If you had filled out the bug report, you would have seen we have issues with Mac OS which are solved by using Docker.

This GitHub issue does not follow our template, it is a duplicate of another issue, and this issue is solved in our documentation so I am closing it :)

[2020-09-02 11:44] #323 closed

[2020-09-02 12:37] lukasgabriel commented on #300
I'm sorry, but without any kind of logs or info about the input you used, we cannot provide support. Feel free to open a new issue & diligently fill out the Issue Template - then we'll come back to it and hopefully be able to provide a solution :)

[2020-09-02 12:37] #300 closed

[2020-09-02 12:44] lukasgabriel commented on #147
The idea of a tagging system is great - it would give us (especially me since I like writing silly/niche decoders/crackers) a guilt-free (as in it does't slow down the rest of the application) way of adding more ciphers that might only be useful to some while keeping it all clean and focused on the essentials for the average user.

[2020-09-02 13:36] Cyclic3 opened #327 "Passed: disable nested encryption"
### Problem:
Ciphey's nested cracking can cause infinite loops and slows it down massively. All currently implemented crackers assume the distribution of the output to be that of the plaintext.

### Solution:
I propose that we make this feature disabled by default. Note that this does not apply to nested decodings, so things like iterated base64 and caesar inside morse code would be absolutely fin

[2020-09-02 23:30] bee-san commented on #147
Here are the categories I can imagine:
* Offline
* Core approved (as in, crackers / decoders that the core team have created)
* Community
* Most popular (taken from our website, when we build it)
* Meme (the hint might be "funny number base encoding" or something)
* Crackers
* Encoders
* Hashes
* Base
* Transposition
* Modern ciphers

Any other suggestions?

[2020-09-03 22:46] mendel3 commented on #63
More ideas of easy ciphers to implement:
ROT47/ASCII Shift
A1Z26

[2020-09-04 13:07] bee-san commented on #63
Added thanks! :D

[2020-09-05 14:23] #327 closed

[2020-09-05 21:08] Cyclic3 commented on #319
Can't repro in the latest master after the latest cipheycore refactoring, so i think this is done

[2020-09-05 21:09] Cyclic3 commented on #319
ermmmmm, it's allocing more and more now

[2020-09-05 21:18] lukasgabriel opened #335 "Add base69 decoder"
As seen here: https://github.com/pshihn/base69

[2020-09-05 21:21] lukasgabriel opened #336 "Add support for Nullcipher-like inputs (i.e. NATO Alphabet)"
Add support for plaintext that is hidden in a bunch of other plaintext - for example, the first letter of every word in a sentence forming the solution.

A _subset_ of this problem would be adding support for words written in the NATO phonetic alphabet.

[2020-09-05 21:22] lukasgabriel commented on #336
I'm currently working on this.
A major obstacle is the fact that the language checker will see the english words in the plaintext and cause ciphey to stop before finding the acutal solution.

[2020-09-05 21:26] lukasgabriel opened #337 "Add support for Prisoner's Tap Code"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in Python!**

# Links
These links will help you unders

[2020-09-05 21:28] bee-san opened #338 ""Is this the right plaintext?" Make the checker ask the user if the right plaintext has been found."
"Is this the right plaintext?" Make the checker ask the user if the right plaintext has been found.

[2020-09-05 21:28] bee-san commented on #336
#338 relates to this problem

[2020-09-05 21:29] lukasgabriel commented on #63
We're starting to move these feature requests to their own issues to take advantage of GitHub's Project Boards feature and keep things clear & easy to track.

[2020-09-05 21:31] lukasgabriel commented on #63
@all-contributors please add @lukasgabriel for ideas

[2020-09-05 21:37] lukasgabriel opened #340 "Add SMS/T9 multitap decoder"
https://www.dcode.fr/t9-cipher
https://en.wikipedia.org/wiki/Multi-tap

[2020-09-05 21:40] lukasgabriel opened #342 "Add ROT47 cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in C++!**

# Links
These links will help you understan

[2020-09-05 21:42] lukasgabriel opened #343 "Add ASCII shift cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in C++!**

# Links
These links will help you understan

[2020-09-05 21:44] lukasgabriel opened #344 "Add A1Z26 decoder"
This one's mega-easy, so have a go :)
https://planetcalc.com/4884/

[2020-09-05 21:46] lukasgabriel opened #345 "Add Playfair cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in C++!**

# Links
These links will help you understan

[2020-09-05 21:47] lukasgabriel opened #346 "Add affine cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in Python!**

# Links
These links will help you unders

[2020-09-05 21:51] lukasgabriel opened #347 "Add monoalphabetic substitution cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in C++!**

# Links
These links will help you understan

[2020-09-05 21:57] lukasgabriel opened #348 "Add vigenere autokey cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in C++!**

# Links
These links will help you understan

[2020-09-05 21:58] lukasgabriel opened #349 "Add Beaufort Cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in C++!**

# Links
These links will help you understan

[2020-09-05 21:59] lukasgabriel opened #350 "Add Columnar Transposition cracker"
https://www.geeksforgeeks.org/columnar-transposition-cipher/
https://www.dcode.fr/columnar-transposition-cipher

[2020-09-05 22:01] lukasgabriel opened #351 "Add Railfence/Zig-Zag cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in C++!**

# Links
These links will help you understan

[2020-09-05 22:02] lukasgabriel opened #352 "Add Double Transposition cracker"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in C++!**

# Links
These links will help you understan

[2020-09-05 22:03] lukasgabriel opened #353 "Add Brainfuck interpreter"
https://www.dcode.fr/brainfuck-language
https://en.wikipedia.org/wiki/Brainfuck

[2020-09-05 22:05] lukasgabriel opened #354 "Add DNA codons decoder"
https://www.dcode.fr/codons-genetic-code
https://en.wikipedia.org/wiki/Genetic_code
https://en.wikipedia.org/wiki/DNA_codon_table

[2020-09-05 22:06] lukasgabriel opened #355 "Add Baudot decoder"
https://en.wikipedia.org/wiki/Baudot_code
https://www.dcode.fr/baudot-code

[2020-09-05 22:31] lukasgabriel opened #356 "Improve guide about adding decoders/crackers"
Improve guide about adding decoders/crackers with experiences we've had ourselves & problems we've encountered.

[2020-09-05 22:41] lukasgabriel opened #357 "Add German support to Ciphey"
- Translate the documentation to German
- Add  ä ö ü ß  to alpahbets/charsets (where applicable)
- Create distributions for german language checking

[2020-09-05 22:42] lukasgabriel commented on #357
We started on this in #306

[2020-09-05 23:36] lukasgabriel opened #359 "dict_keys object is not subscriptable"
When trying to decode a fairly long input from a file, ciphey throws a TypeError.

**Plaintext**
[code]

**Version**
 - OS/Distro: Win10 1909
 - Python version: 3.7.3
 - Ciphey versions: 5.3
 - No Docker

**Verbose Output**
[code]

[2020-09-06 00:47] #335 closed

[2020-09-06 11:12] aldogutierrez commented on #342
Hello! I would like to contribute to this issue

[2020-09-06 11:17] bee-san commented on #342
Hey! Sure :D We're in the Discord discussing the best way for you to do this right now :) :sparkles:

[2020-09-06 12:10] MikeMerz commented on #354
Hi,I'm new to contributing, is it possible to try this one?

[2020-09-06 12:19] bee-san commented on #354
Hey @MikeMerz !!

Welcome to Ciphey! And if you're new to contributing, what a great project to contribute to :wink:

This is our guide on adding new things to Ciphey:

https://github.com/Ciphey/Ciphey/wiki/Adding-your-own-ciphers

You'll want to add a decoder for this.

I would suggest getting a function working outside of Ciphey first, and then importing it into Ciphey when it's ready to be adde

[2020-09-06 12:21] SkeletalDemise commented on #344
Hi, in case anyone is thinking of working on this, A1Z26 is already completed by me. There are issues however that can only be solved with the entropy checker. A1Z26 will be implemented into Ciphey once the entropy checker is done and implemented. See here: https://github.com/Ciphey/Ciphey/wiki/Checkers,-explained#entropy-coming-soon

[2020-09-06 16:01] ArnaubHie commented on #63
How Is

[2020-09-06 16:04] anantverma275 commented on #354
Hello all,
I am new to Open Source contributions, so could you help me with what to do next?

I have already:
1. cloned this repository on my system
2. added **DNAtoBinary.py** file in **ciphey/basemods/Decoder**
3. configured **__init__.py** file accordingly by adding this module into the import list.

Also, could you tell me how do I test this module using the ciphey package?

Thank you!

[2020-09-06 16:34] JLP04 opened #362 "Getting Segmentation fault: 11 when running ciphey"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [✅] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
A clear and concise description of what the bug is.
When I run ciphey, I get "Segmentat

[2020-09-06 16:53] bee-san commented on #362
This is related to #238 and #256 :(
The workaround is to use Docker :cry:

[2020-09-06 16:56] JLP04 commented on #362
How do I pass `-p ausearch.enable_nested=True` to the docker version?

[2020-09-06 16:57] JLP04 commented on #362
How do I pass `-p ausearch.enable_nested=True` to the docker version?

[2020-09-06 21:33] bee-san commented on #362
Have you tried this? Does not that work? The Docker image should build from our master branch (if I recall).

If it doesn't work, let me know and I'll fix it :smile:

[2020-09-07 02:16] JLP04 commented on #362
I ran `docker run -it --rm remnux/ciphey "GOWOKGFOTRSERRAUVRFFBFCAAWWAWGTWWQGJFMWBTKFTJASFAEZTZWIMDZRYFPZRATMLGFYDROWRBWLXKGQHGQWQXWLKQYCQOMFCUVJFQVFQTUIECCGDKTZVVJEJBG"` but I'm not sure how to run it through docker with nested encryption.

[2020-09-07 02:24] LronDC opened #364 "running ciphey get ImportError：image not found"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [yes ] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
running ciphey -t "" get ImportError: image not found

**Plaintext**
**⚠️IMPORTANT⚠️

[2020-09-07 03:02] SkeletalDemise commented on #364
If you had read this page (https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions), you would see that this is an already known issue with Mac OS, and is solved by using Docker.

I am closing this because this is a duplicate issue and we already have instructions on how to install Docker in the documentation. If you encounter any bugs using Ciphey with Docker, you can make a separat

[2020-09-07 03:02] #364 closed

[2020-09-07 03:13] SkeletalDemise commented on #362
Hello. Does running `docker run -it --rm remnux/ciphey "GOWOKGFOTRSERRAUVRFFBFCAAWWAWGTWWQGJFMWBTKFTJASFAEZTZWIMDZRYFPZRATMLGFYDROWRBWLXKGQHGQWQXWLKQYCQOMFCUVJFQVFQTUIECCGDKTZVVJEJBG" -p ausearch.enable_nested=True` work?

[2020-09-07 03:17] JLP04 commented on #362
No

[2020-09-07 03:21] SkeletalDemise commented on #362
What happens when you run it? It might be that Ciphey cannot decrypt your text.

[2020-09-07 03:22] ArnaubHie commented on #362
What happen￼

[2020-09-07 05:13] lukasgabriel commented on #362
Try this: (-t flag before the string, other arguments before the -t flag)
 `docker run -it --rm remnux/ciphey -p ausearch.enable_nested=True -t "GOWOKGFOTRSERRAUVRFFBFCAAWWAWGTWWQGJFMWBTKFTJASFAEZTZWIMDZRYFPZRATMLGFYDROWRBWLXKGQHGQWQXWLKQYCQOMFCUVJFQVFQTUIECCGDKTZVVJEJBG" `

[2020-09-07 10:53] MikeMerz commented on #354
Hey @bee-san  ,
Thanks for the welcoming massage :)
I have written a class for the decoding according to the first comment, using a dictionary for the four letters of the DNA,
so after running some test I just commit the changes?

[2020-09-07 11:42] bee-san opened #368 "Add URL decoding"
### Problem:
URLs are encoded like so:
[code]

There are many more encodings other than space, this is just one example.

### Resources
https://www.w3schools.com/tags/ref_urlencode.ASP
https://www.urlencoder.org/
#### URL Decoding in Python
https://stackoverflow.com/questions/16566069/url-decode-utf-8-in-python
https://www.urldecoder.io/python/

Guide on how to add this to Ciphey here:
https://git

[2020-09-07 11:46] bee-san commented on #354
Hey! Very sorry, but someone got there first. This is especially annoying, as I assigned you to this issue and they must have ignored it :( #363

I added another issue that I believe is quite easy to implement, do you want me to assign you to this instead? :) It's URL decoding

https://github.com/Ciphey/Ciphey/issues/368

[2020-09-07 11:58] SkeletalDemise commented on #354
Hello, unfortunately this issue title is misleading and we are not looking for a DNA to Binary decoder. We are wanting a DNA codons decoder similar to this https://www.dcode.fr/codons-genetic-code
I'll fix it so it's not misleading and add more resources.

Additionally, I have now taken over this issue/decoder with additional support from @anantverma275 in the Discord. I have already created a tab

[2020-09-07 12:13] MikeMerz commented on #354
Ye sure I guess.

[2020-09-07 12:53] MikeMerz commented on #368
Hey @bee-san ,
Is it possible just to assign this issue to me?

[2020-09-07 12:57] bee-san commented on #368
Yes, sure!

[2020-09-07 13:43] JLP04 commented on #362
Running `docker run -it --rm remnux/ciphey "GOWOKGFOTRSERRAUVRFFBFCAAWWAWGTWWQGJFMWBTKFTJASFAEZTZWIMDZRYFPZRATMLGFYDROWRBWLXKGQHGQWQXWLKQYCQOMFCUVJFQVFQTUIECCGDKTZVVJEJBG" -p ausearch.enable_nested=True` or `docker run -it --rm remnux/ciphey -p ausearch.enable_nested=True -t "GOWOKGFOTRSERRAUVRFFBFCAAWWAWGTWWQGJFMWBTKFTJASFAEZTZWIMDZRYFPZRATMLGFYDROWRBWLXKGQHGQWQXWLKQYCQOMFCUVJFQVFQTUIECCGDKTZVVJE

[2020-09-07 13:47] bee-san commented on #362
Hey! Thanks for the comment. Our docker image is maintained by REMnux, but we can edit it.

I'll try to fix this :)

[2020-09-07 14:13] pezzivic opened #373 "/Library/Python/3.7/site-packages/cipheycore/_ciphey_core_py.so image not found"
after installing ciphey on macOS 10.15.6 with python3 v3.7.3, I tried to run it and got the following error

Pez-MacBook-Pro:~ pez$ ciphey
Traceback (most recent call last):
  File "/usr/local/bin/ciphey", line 5, in <module>
    from ciphey.ciphey import main
  File "/Library/Python/3.7/site-packages/ciphey/__init__.py", line 1, in <module>
    from . import common
  File "/Library/Python/3.7/sit

[2020-09-07 14:17] SkeletalDemise commented on #373
Closing this because you didn't fill out the issue template and this is a duplicate issue. The documentation (https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions) lists this problem with Mac OS, and the solution is to install Docker and run Ciphey with it.

[2020-09-07 14:17] #373 closed

[2020-09-07 15:34] Cyclic3 commented on #338
I'll take a look at this

[2020-09-07 15:58] Cyclic3 commented on #362
That error is because the `-p ausearch.enable_nested=True` is a very new flag, and remnux uses an old version of ciphey

[2020-09-07 15:59] Cyclic3 commented on #359
That's a problem with the Autumn checker @bee-san

[2020-09-07 16:01] Cyclic3 commented on #353
Maybe instead of a brainfuck deobfusicator (which is a ton of effort!), we use a time-limited emulator when we believe something to be brainfuck, replacing the "write to output" command `.` with something that appends to a string. Input would be a little more tricky, however.

[2020-09-07 16:15] Cyclic3 opened #376 "Modern encryption"
### Problem:
ppl keep complaining that we don't crack new stuff

### Solution:
- [x] Create Der and X509 types
- [ ] Implement decoders
- [ ] Implement crackers
  - [ ] RSA factorise
  - [ ] RSA low entropy
  - [ ] Small group EC brute force

[2020-09-07 16:21] Cyclic3 opened #377 "Make atbash a Cracker"
### Idea
Read the title

### Pros
Save a lot of time messing with loads of decodings from atbash

### Cons
This would mean that nesting ciphers inside atbash would not be detected without nested ciphers being explicitly enabled. It would also violate the general rule of "you need a key to be a cracker"

[2020-09-07 19:11] XVXTOR opened #380 "Requirement for 64bit to be listed on installation guide"
### Problem:
Ciphey doesn't seem to install on Windows + a 32 bit install of Python. Couldn't figure out why I was getting an error about a version not being found but the suggested fix was around Tensor flow and didn't work for me either.

### Solution:
Install 64bit of Python or use Docker.
I'm unable to add this to the Wiki as a pull request - perhaps it could be included on one of the landing

[2020-09-07 19:34] #338 closed

[2020-09-07 19:34] bee-san commented on #380
On it! :D

[2020-09-07 19:37] bee-san commented on #380
@all-contributors please add @XVXTOR for documentation

[2020-09-07 19:43] bee-san commented on #380
Done! :D

[2020-09-07 19:43] #380 closed

[2020-09-08 00:19] bee-san commented on #355
This issue is reserved by Discord user Baudot :)

[2020-09-08 05:39] dreness commented on #238
Looking at the crash report, the crashed thread looks like:

[code]
Find `_ciphey_core_py.so` - something like this should do the trick:
[code]

Run `otool -L` passing the path to `_ciphey_core_py.so`. Mine is inside a virtualenv, but yours might not be.

[code]

ciphey is looking in the wrong place for the Python interpreter, because I have homebrew installed to `/opt/brew` instead of `/usr/local

[2020-09-08 07:11] Kapp1 commented on #238
I lost my connection before finishing I think the last message was

pip install --upgrade pip

[2020-09-08 14:53] Kapp1 opened #387 "tests.txt"
2020-09-08T03:47:38.7414464Z ##[section]Starting: Prepare job tests
2020-09-08T03:47:38.7496490Z Evaluating strategy
2020-09-08T03:47:38.7497774Z Creating job '_3_7_ubuntu-latest'
2020-09-08T03:47:38.7498064Z Evaluating display name
2020-09-08T03:47:38.7498778Z Evaluating: format('Python {0} on {1}', matrix.python-version, matrix.os)
2020-09-08T03:47:38.7498815Z ##[debug]Evaluating format:
2020-09

[2020-09-08 18:18] #387 closed

[2020-09-08 18:41] Cyclic3 opened #388 "Spooky hex output for byte input"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [x] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
Ciphey outputs random hex digit pairs when run on practically any ciphertext when set t

[2020-09-08 18:43] Cyclic3 commented on #388
This is all in the ascii range (lmlnlklolslqlrl$lyrsrprurqrmrorlr:rg)

[2020-09-08 23:05] bee-san opened #389 "Ciphey returns plaintext for all decimal based input"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [X] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**

[code]

This passes JSON checker.

**Plaintext**
**⚠️IMPORTANT⚠️ The below code is non

[2020-09-08 23:13] bee-san commented on #389
This is because any string (but not a string, an int) of numbers will always pass the JSON checker.

ToDo: Make sure the output contains something _other_ than pure numbers.

[2020-09-08 23:17] bee-san commented on #389
We should consider using orjson as it's apparently 4 times faster than `json`:

https://github.com/ijl/orjson#performance

[2020-09-09 00:21] bee-san opened #390 "Vig cracker fails"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [X] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**

[code]

Ciphertext is:
[code]

Key is:
[code]

Plaintext is:

"We trust that time is l

[2020-09-09 08:01] Sank6 commented on #390
I don't know how CipheyCore solves the vigenere after finding the keylength, but tje one you linked uses [bigrams as a fitness model](https://www.guballa.de/implementierung-eines-vigenere-solvers). It should be more accurate for shorter texts but I don't think it's more efficient for longer texts.

[2020-09-09 10:49] #389 closed

[2020-09-09 10:55] bee-san commented on #377
@lukasgabriel I might steal this from you. I need to contribute to Cipheycore so I can learn how it works, so I can write documentation (similar to that of Decoding) for us :)

[2020-09-09 10:57] bee-san commented on #282
This is fixed :)

[2020-09-09 10:58] #282 closed

[2020-09-09 11:01] bee-san commented on #336
This is fixed by the human checker.

[2020-09-09 11:01] #336 closed

[2020-09-09 12:23] bee-san opened #395 "Ciphey Freezes / String Error on XOR"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [X] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**

[code]

Freezes here:
![image](https://user-images.githubusercontent.com/10378052/9259

[2020-09-09 12:27] Cyclic3 commented on #390
* We currently have the keysize limited to 16 characters. I've made this limit more adaptive (to 1/4 the plaintext size)
* We brute force all possible key lengths, and check how the frequencies compare to English (@Sank6). This has worked for many of our test ciphertexts, but seems to return your one as the least likely!

[2020-09-09 12:30] Sank6 commented on #390
If the output is base64 or json or something, then it won't share the same frequency distribution. Ciphey still seems to be able to solve this though, so there has to be something other than the frequency alone. Maybe it's the Shannon Entropy?

[2020-09-09 14:35] baptistapedro opened #398 "python3.8 compatibility?"
[code]

[2020-09-09 14:42] bee-san commented on #398
no template so closing.

[2020-09-09 14:42] #398 closed

[2020-09-09 15:16] MikeMerz commented on #368
Hey,
A couple of questions:
1)given the url, the decoded URL should be printed?
2)just making sure,given that coded URL contains % it may cause the module some problems
3)I tried running with "%.%" for reverse but after printing the table it doesn't stop,maybe its connected to 2

[2020-09-09 15:23] bee-san commented on #368
1. Given a string with the same encoding as URL encoding, decode that string and return it (the string may not be a URL, but it still might contain URL encoding)
2. % is not a problem for Ciphey anymore :)
3. %.% does not pass any checkers, so Ciphey will never return that as plaintext :)

[2020-09-09 15:34] MikeMerz commented on #368
OK,so if it's ready, to update I need to create a pull request?

[2020-09-09 15:36] bee-san commented on #368
Yup! To CipheyDists :D

[2020-09-09 16:28] MikeMerz commented on #368
It's actually my first time, so i need to commint through pycharm to the master branch to someother branch that i should open and than opening the pull request?

[2020-09-10 12:17] MikeMerz commented on #337
Hey, is the issue still open? , if so , the tapping will be represented by a tuple of 2 ints?

[2020-09-10 13:06] #355 closed

[2020-09-10 19:40] Sank6 commented on #349
I think Beaufort cipher is just Vigenere with an Atbash, both of which are already being used.

[Boxentriq](https://www.boxentriq.com/code-breaking/beaufort-cipher):

After applying an Atbash cipher, the Beaufort cipher can be broken using same methods as a Vigenère cipher.

I don't think it would be useful to add this. (Correct me if anything is wrong)

[2020-09-11 14:31] lukasgabriel commented on #377
Go right ahead :)

[2020-09-12 18:29] jacobggman commented on #340
I would love to do that

[2020-09-12 20:04] Ishq780 commented on #340
Huh?

On Sun, 13 Sep, 2020, 12:00 AM Jacob Galam, <notifications@github.com>
wrote:

[2020-09-12 21:04] jacobggman commented on #340
How do I contribute 😅? Do I need to be assigned? Or just make pull a request?

[2020-09-12 22:18] Ishq780 commented on #340
Sorry dude I dunno
I'm newbie

On Sun, 13 Sep, 2020, 2:34 AM Jacob Galam, <notifications@github.com> wrote:

[2020-09-12 22:22] bee-san commented on #340
Hey!

I assigned this issue to you. You can see a list of things you should do, walking you through each step :D

https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

[2020-09-14 07:58] Ishq780 commented on #340
U banned me out of ur server please remove ban I won't advertise

On Sun, 13 Sep, 2020, 3:52 AM Bee, <notifications@github.com> wrote:

[2020-09-14 09:30] lukasgabriel commented on #340
After infringin on our (very simple) self-advertising rules three times, ignoring several warnings (even after being kicked) and rudely @-ing the whole server, the ban won't be lifted. If you still want to contribute to the repo, you can communicate via comments on PRs and Issues. Please be aware that you will be banned from contributing if you do not respect our [code of conduct](https://github.c

[2020-09-14 09:35] lukasgabriel commented on #340
Hey, sorry for not responding :D
I see that bee already assigned you - if you need any help with the cracker, let us know in the discord or on here.

[2020-09-15 13:53] SkeletalDemise commented on #368
Closed by #400

[2020-09-16 03:22] #368 closed

[2020-09-16 15:34] virtadpt opened #412 "Feature request: Soundex"
### Problem:
I think it would be eventually useful to detect and encode/decode Soundex (https://en.wikipedia.org/wiki/Soundex) encoding of phonetic words (i.e., "Robert" == "R163").

### Solution:
There are probably Soundex modules for Python out there, it should be possible to integrate one into the encoding detector as well as in a cracker.

[2020-09-16 20:00] mitchharvey opened #413 "Trying to run in docker fails, possibly an issue with python3.8"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [x] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

yes

**Describe the bug**
Not working with docker. Running the exact command referenced in the documentation

[2020-09-16 20:16] mitchharvey commented on #413
I found a workaround by using a different docker base image `python:3.7.9-slim-buster`

So the full dockerfile just looks like:
[code]

This doesn't fix the issue, since ciphey should be able to work with python3.8, but this is a possible temporary workaround

[2020-09-16 22:03] CMNatic commented on #413
Hi!

I'm only just being drafted in to have a look at this. Thanks for raising the issue, I understand what the problem is here. As it stands, Ciphey relies on REMnux's DockerHub Repo. We can't do any CI/testing and issues such as caching (which is where I think this problem specifically lays within)

I'm going to be making Ciphey a little bit more self-sustainable in this regard over the next day

[2020-09-17 10:56] #340 closed

[2020-09-17 11:36] jacobggman commented on #343
Can I do this in Python? Because there are only 128 possibilities (if I don't wrong)

[2020-09-21 07:39] SkeletalDemise opened #422 "Add T9 decoder"
Hey Hackers of this spoopy month! 👻
Welcome to the Ciphey repo(s)!
This issue requires you to add a decoder.

This wiki section walks you through EVERYTHING you need to know, and we've added some more links at the bottom of this issue to detail more about the decoder.
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

https://www.dcode.fr/t9-cipher
https://en.wikipedia.org/w

[2020-09-21 14:48] importhuman commented on #347
Hello! I'd like to work on this if possible.

[2020-09-21 21:13] bee-san commented on #347
I feel like this falls under CipheyCore and cannot be added to unless the person knows C++ ?

[2020-09-22 06:17] importhuman commented on #347
@bee-san I was about to ask the same thing on Discord, the only language mentioned in the project is Python, so I'm confused, do I need C++ for this as well?

[2020-09-22 06:37] SkeletalDemise commented on #347
This falls under CipheyCore. We use Python for decoders because they are fast enough that we don't need to use C++ and it allows people to easily add them to Ciphey. Things like Vigenere and XOR are in CipheyCore, which uses C++ for speed. See here: https://github.com/Ciphey/CipheyCore

You'll need to know C++ to add this to Ciphey. If you want something easier, choose an issue with "decoder" in t

[2020-09-22 11:09] importhuman commented on #347
Thank you. Please remove me from this issue, I'll look for something else :)

[2020-09-22 17:45] SkeletalDemise opened #424 "Add DTMF decoder"
https://www.dcode.fr/dtmf-code
https://en.wikipedia.org/wiki/Dual-tone_multi-frequency_signaling

[2020-09-26 01:18] inzombakura commented on #422
Can I please contribute for this?

[2020-09-26 03:49] SkeletalDemise commented on #422
Sure! Here's our guide on adding decoders and crackers: https://github.com/Ciphey/Ciphey/wiki/Adding-your-own-ciphers
This should be a decoder. I've assigned this issue to you. You can get help and support in the Discord if you need it.

[2020-09-26 10:08] stanislavkocan commented on #351
Hi, I would like to contribute to this issue if possible :) I have alredy joined your Discord server too (stanislav). Can you please assign it to me ?

[2020-09-26 10:16] stanislavkocan commented on #424
Hi, I would like to contribute to this issue if possible :) I have alredy joined your Discord server too (stanislav). Can you please assign it to me ?

[2020-09-26 12:57] #413 closed

[2020-09-26 12:57] bee-san commented on #424
Hey! We have already implemented this, however we will let you know about future encoders :)

[2020-09-26 12:57] #424 closed

[2020-09-26 12:59] bee-san commented on #390
Vig cracker fails on
[code]
with key `rebecca` with plaintext `there is a shield key inside the dining room. The html page is called the_great_shield_key`

[2020-09-26 13:01] #354 closed

[2020-09-26 13:02] #344 closed

[2020-09-26 13:09] bee-san opened #429 "Create CI testing to test Ciphey in the terminal"
### Problem:
Right now, Ciphey's tests run by importing Ciphey and checking the output.

Ciphey had a bug that only existed when we ran Ciphey in the terminal, not via an import.

### Solution:
Create CI (using TravisCI or GitHub actions) that `pip3 install ciphey` and then runs Ciphey with some tests, such as:

[code]

The `-q` makes the output greppable, With this flag you can then capture the r

[2020-09-27 11:18] malathit commented on #429
Shall I work on this for the hacktoberfest?

[2020-09-27 12:51] bee-san commented on #429
Hey!

Just Ubuntu, Linux is okay. We can't test on Windows very well, and we can assume if it works on Linux it works on Mac OS due to our other CI.

And sure, you can work on this for hacktoberfest :partying_face: I'll assign it to you! Are you in the DIscord? :smile:

[2020-09-27 13:00] malathit commented on #429
Thanks for assigning. yes, I am on discord.

[2020-09-27 22:02] SkeletalDemise opened #432 "Add Baconian decoder"
Hey Hackers of this spoopy month! 👻
Welcome to the Ciphey repo(s)!
This issue requires you to add a decoder.

This wiki section walks you through EVERYTHING you need to know, and we've added some more links at the bottom of this issue to detail more about the decoder.
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

https://www.dcode.fr/bacon-cipher
https://en.wikipedia.or

[2020-09-27 22:30] SkeletalDemise opened #433 "Add UUencode decoder"
Hey Hackers of this spoopy month! 👻
Welcome to the Ciphey repo(s)!
This issue requires you to add a decoder.

This wiki section walks you through EVERYTHING you need to know, and we've added some more links at the bottom of this issue to detail more about the decoder.
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

https://www.dcode.fr/uu-encoding
https://en.wikipedia.org

[2020-09-28 14:55] stanislavkocan commented on #433
I would like to solve this issue. Can you please assign it to me ?

[2020-09-28 15:03] bee-san commented on #433
Done! :)

[2020-09-28 15:24] bee-san commented on #412
Hey Hackers of this spoopy month! 👻
Welcome to the Ciphey repo(s)!
This issue requires you to add a decoder.

This wiki section walks you through EVERYTHING you need to know, and we've added some more links at the bottom of this issue to detail more about the decoder.
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

[2020-09-29 10:41] imtira commented on #432
I can take this one on. Can I get assigned?

[2020-09-29 16:42] Unviray opened #436 "French translation"
I'm asking if it's possible to translating the README in _French_.
Or any part of the package.
I just want to make a _pull request_ for the _Hacktoberfest_ event.

[2020-09-29 21:16] jacobggman opened #437 "Small improvements to the code base"
### Idea
Make small improvements to the code base.

* Remove commented code (https://github.com/Ciphey/Ciphey/blob/b46e00c611ee4b5f5795e967a50b05a63cbb5ef0/ciphey/ciphey.py#L242)

* Fix the order of the metheds in classes of Decoders like the order of the example of "Adding a decoder" (Should be the last method and not first: https://github.com/Ciphey/Ciphey/blob/b46e00c611ee4b5f5795e967a50b05a63c

[2020-09-29 21:25] bee-san commented on #436
Hey! A french translation is fine by us :D

[2020-09-29 21:25] bee-san commented on #437
Hey! Feel free to make a PR.

For:

Why would you suggest this? :)

[2020-09-29 23:15] bee-san opened #438 "Find a good English dictionary for us!"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

This is also data-sciency!

# The Problem

Our English dictionary contains words that aren't English, and does not contain common English words.

Examples of non-common words in the dictionary:

[code]

This is our current dictionary:

https://github.com/dwyl/english-words

# What we want

An English dictionary

[2020-09-29 23:39] bee-san opened #439 "Add Braille Decoder"
Hello spoooopyyy hackers :jack_o_lantern:

This is a Hacktoberfest only issue! :ghost:

Find our contributing guidelines here, this walks you through how to add a decoder / cracker!
https://github.com/Ciphey/Ciphey/wiki#adding-your-own-crackers--decoders

Don't worry if it looks hard, we will walk you through everything! :)

**Write this issue in Python!**

# Links
These links will help you unders

[2020-09-30 02:42] chetnaaggarwal-ca commented on #438
hello @bee-san can be please let me contribute in ur code?

[2020-09-30 03:18] rogercyyu commented on #439
Hey, can I try to do this in Python? I am new to open-source.

[2020-09-30 06:05] jacobggman commented on #437
I think like that it will be cleaner, more organize and more easy to find the functions

[2020-09-30 11:22] bee-san commented on #437
Sure! Make the PR :D

[2020-09-30 11:23] bee-san commented on #439
Yes! Go right ahead <3 And welcome to open source!

We have a Discord where you can talk directly to us in real time too, it's on our wiki :D

[2020-09-30 11:23] bee-san commented on #438
@chetnaaggarwal-ca Sure! Go right ahead :D

[2020-09-30 11:24] bee-san commented on #349
@Sank6 Do you fancy making a PR with a test for Beaufort which proves this? Would be v/ handy & nice for us :D

[2020-09-30 11:24] bee-san commented on #337
@SkeletalDemise Is adopting this, I think

[2020-09-30 12:14] jacobggman commented on #437
@bee-san Should I delete the logs (`logger`) in the Decoders?

[2020-09-30 12:38] #248 closed

[2020-09-30 12:38] #359 closed

[2020-09-30 13:03] DhrubojyotiBis1 commented on #432
Hi, @SkeletalDemise I would like to work on this issue. Can you assign it to me?

[2020-09-30 13:24] bee-san commented on #432
Done!

[2020-09-30 13:31] bee-san commented on #337
@Itamikame this is the issue :)

[2020-09-30 19:50] DanBrown47 opened #448 "Add Docker"
### Problem:
Adding a docker is a good move as we can run this in containerized mode and will be mature as an official app

### Solution:
A docker file will solve the problem

[2020-09-30 19:53] HexChaos commented on #448
This project is already on Docker
https://hub.docker.com/r/remnux/ciphey/dockerfile

[2020-09-30 19:55] bee-san commented on #448
As Hex has said, we are on Docker. We would like our own Dockerfile with docker organisation though, but that depends entirely on if anyone is willing to help us with that :)

[2020-09-30 19:55] #448 closed

[2020-09-30 19:59] #429 closed

[2020-09-30 21:29] #437 closed

[2020-09-30 22:23] bee-san commented on #347
Hey! This no longer falls under CipheyCore :)

[2020-09-30 22:55] bee-san commented on #347
nvm me dummy this 100% falls under cipheycore

[2020-10-01 02:29] sashreek1 commented on #213
Hey!
I would like to help fix this issue

[2020-10-01 02:33] HexChaos commented on #213
Awesome Sashreek1! Please get to work fixing the issue and when your done do a pull request!

[2020-10-01 04:17] Trisanu-007 commented on #439
Can I work on this please?

[2020-10-01 07:00] sashreek1 commented on #213
I am actually unable to recreate this issue,
I have used this file containing HEX encoded text and use

`ciphey -f "hextest"`

and it works. This is what the file contained :
`68 65 6C 6C 6F 20 74 68 65 72 65`

and here is the output

`(venv) [user@localhost tests]$ ciphey -f "hextest" `
`Result 'hello there' (y/N): y  `
`Format used:  `
`  hex  `
`Final result: "hello there"  `

[2020-10-01 07:57] Marnick39 commented on #30
This still a thing?

[2020-10-01 08:09] mav8557 commented on #353
Hi!

I think I could take this one. To handle character input I might need some guidance on how and if that's something that's needed.

[2020-10-01 12:23] #337 closed

[2020-10-01 12:57] importhuman commented on #347
It's alright :)

[2020-10-01 14:06] Trisanu-007 commented on #439
@rogercyyu I would like to work together. Can we discuss it further on discord?

[2020-10-01 14:24] rogercyyu commented on #439
@Trisanu-007 What's your discord?

[2020-10-01 14:38] Trisanu-007 commented on #439
@rogercyyu are you in the discord grp of Ciphy .... if yes whats your username?

[2020-10-01 14:39] rogercyyu commented on #439
@Trisanu-007 yeah, hiddenhazard#0965

[2020-10-01 15:37] Ozzyz commented on #412
I'll take a stab at this : )

[2020-10-02 01:30] sashreek1 commented on #412
I would love to take up this issue :)

[2020-10-02 01:31] HexChaos commented on #412
Go ahead @sashreek1

[2020-10-02 04:32] sashreek1 commented on #412
Here's the problem  :
As you already know a single soundex code can mean several different things. The example u gave of the word `Robert` (R163) is also the code for
report | revert | Robert | Rupert | rapport | rebirth | reports | revered | reverts | Roberta | Roberto | Roberts | rapports | rebirths | reburied | refereed
and many more. Which means deciding it as a single word can be difficult.
P

[2020-10-02 05:12] SkeletalDemise commented on #412
It will have to be a python cracker like T9. Then it can return multiple results so that Ciphey can figure out what combination is the best. You just need to make a dictionary that maps all the soundex codes to possible English words. This and T9 will be on hold though until we get a better English dictionary as the one that we currently have in CipheyDists is not that good. Issue for a better dic

[2020-10-02 05:31] sashreek1 commented on #412
yeah a cracker seems perfect. I'll also be on the look out for a good English dictionary.

[2020-10-02 09:39] Ozzyz commented on #346
I'll take a stab at this :)  Should the cracker be written in Python? There are only C=|A|*B possible combinations where |A| are all the A values that are coprime with alfabet length. Depending on alfabet length, this is very few combinations - 312 in the case of an alfabet length of 26. So I guess this is fairly inexpensive to perform in Python.

[2020-10-02 10:58] sashreek1 commented on #438
i found this dictionary of words using this [https://pypi.org/project/english-words/](https://pypi.org/project/english-words/) but it has only 25487 words which is almost negligible compared to the 479826 in the UNIX default word-list. However all the words in this list are meaningful
here is a copy of that file:
[https://pastebin.ubuntu.com/p/HzFSDs29SH/](https://pastebin.ubuntu.com/p/HzFSDs29SH/

[2020-10-02 11:05] sashreek1 commented on #438
I had tried to create a fix with the logic that @bee-san suggested in the issue description by using this tool [https://www.english-corpora.org/coca/](https://www.english-corpora.org/coca/) but this had a problem. the string "hm" apparently has a frequency almost 15 times higher than more meaningful words like "curate" and many more.

[2020-10-02 12:25] Itamai commented on #438
https://raw.githubusercontent.com/jeremy-rifkin/Wordlist/master/master.txt

300k english words

[2020-10-02 12:32] Mr-Salme commented on #351
I plan on taking this as my first project here. What would be the amount of iterations I am limited to keep performance smooth?

[2020-10-02 13:06] sashreek1 commented on #438
@Itamai the 300k dictionary looks good to me as well

I also found the dictionary that nltk library uses and it has 236736 words and as far as i am able to see they seem to be all meaningful

which one shall i go with ?

[2020-10-02 13:16] Itamai commented on #438
the github user @chetnaaggarwal-ca got assigned to this issue so let her do it.
My idea would be to merge the 300k one and the 235k one you found together and then delete duplicates that should be good enough or if she knows how to write a scraper then just pull all words from an online dictionary

[2020-10-02 13:25] sashreek1 commented on #438
sure thing ! I'll wait for that to finish so i can begin #412 :)

[2020-10-02 13:26] sashreek1 commented on #412
Hey! am I supposed to be assigned to this issue so i can get back to it later ?

[2020-10-02 14:36] bee-san commented on #412
I assigned you! :)

[2020-10-02 14:38] bee-san commented on #438
I tried to merge dictionaries previously and it didn't work out so well :( I also tried scraping the speeches from the Houses of Parliament :(

The dictionary is loaded as JSON  so {word: 1}. What do you think about scraping words from multiple sources and building a frequency distribution, like so:

[code]

So the word "and" appears a lot. And then we add together the frequencies and if they go o

[2020-10-02 14:38] bee-san commented on #433
This issue is now open again! :D

[2020-10-02 14:40] bee-san commented on #346
Ah, 312 sounds very cheap so go ahead :D

[2020-10-02 15:44] sashreek1 commented on #438
Oh right
But the issue there would be that we might miss out on several words that may not be in use in today's colloquial lingo but might still be a meaningful word and someone may come across an encrypted version of it.
This also depends on the source that we pick, but whatever source we pick it still has the possibility to miss out on some word right ?

[2020-10-02 15:44] malathit commented on #433
Hey @bee-san, I would like to give it a try. Can you please assign this to me?

[2020-10-02 15:47] bee-san commented on #433
Done! :D @malathit

[2020-10-02 15:50] bee-san commented on #438
If we used English Wikipedia I think it'd cover a significant amount of words, and the words that do not appear we could always do something like this:

[code]

It's unlikely for any given text to be compromised entirely of **only** rare words that have never appeared in English Wikipedia before (or rarely appear) :)

[2020-10-02 16:05] sashreek1 commented on #438
awesome !
we could probably also make a manual procedure to check if by any chance that a word has been falsely claimed to be "not common" this isn't likely but is still possible.
what do you think ?

[2020-10-03 01:02] bee-san commented on #390
@SkeletalDemise Says this is an amazing Vig cracker:
https://www.guballa.de/vigenere-solver
This is how it is implemented:
https://www.guballa.de/implementierung-eines-vigenere-solvers

[2020-10-03 01:13] SkeletalDemise commented on #390
For future reference, this is the English bigrams list that I think https://www.guballa.de/vigenere-solver uses: http://practicalcryptography.com/media/cryptanalysis/files/english_bigrams.txt

If we used bigrams and trigrams with the Vigenere cracker, I think it would speed it up significantly. We currently use the "G test of fitness" for the Vigenere cracker.

[2020-10-03 17:36] IamShubhamGupto commented on #348
hey id like to give this a try

[2020-10-03 19:55] puranjaymohan commented on #352
Hi I would like to work on this, please help me get started.

[2020-10-03 23:54] #353 closed

[2020-10-04 01:21] SkeletalDemise commented on #342
Hello, just to let everyone know, this will have to be written in C++ as a cracker. ROT47 uses an alphabet of ASCII characters 33 to 126, making an alphabet length of 94. Only adding ROT47 would be like only adding ROT13 without adding ROT 1-25.

We'll need a cracker that can decode ROT 1-94 using the ROT47 alphabet. It should be easy to just use the existing caesar cracker with the ROT47 alphabet

[2020-10-04 01:37] sashreek1 commented on #376
Would it be fine to do it with the python openssl module and the cryptography module?
or does it have to be from scratch ?

[2020-10-04 02:29] sashreek1 commented on #438
I found this [https://github.com/IlyaSemenov/wikipedia-word-frequency](https://github.com/IlyaSemenov/wikipedia-word-frequency) where they conveniently calculated the frequency of english words on wikipedia for us  ([https://github.com/IlyaSemenov/wikipedia-word-frequency/blob/master/results/enwiki-20190320-words-frequency.txt](https://github.com/IlyaSemenov/wikipedia-word-frequency/blob/master/re

[2020-10-04 02:29] SkeletalDemise commented on #343
This will need to be written in C++ as a cracker, just like ROT47. It will need to decode ROT 1-128 using the full ASCII alphabet. It should be easy to just use the existing caesar cracker with the full ASCII alphabet.

[2020-10-04 03:00] SkeletalDemise commented on #351
I'm working on this with @Mr-Salme. They will add detailed documentation on how to add a C++ cracker after I complete it.

[2020-10-04 05:45] sashreek1 commented on #438
I have also found this highly reliable source called datamuse who provide an awesome API which uses google's n-gram to provide frequency of words used in several texts, books and several other material that google has access to. [https://www.datamuse.com/api/](https://www.datamuse.com/api/).

for example : [https://api.datamuse.com/words?sp=awesome&md=f&max=1](https://api.datamuse.com/words?sp=awe

[2020-10-04 10:53] w3Abhishek opened #474 "I would like to translate Docs for this project in Hindi Language"
Hi Ciphey,

I am Abhishek Verma from India, and my native language is Hindi. I would like to translate your docs in Hindi so, the guys here in India can read and understand your DOCS.

Please let me know, how I can contribute.

[2020-10-04 12:30] bee-san commented on #438
Are you still working on this?

[2020-10-04 15:30] josh586 opened #476 "W"
### Idea
_What exactly do you want to do?_

### Pros
_How would it help the code? Does it make things faster, or the code more maintainable?_

### Cons
_Would this break anything? Would it mean a rewrite of all the code?_

[2020-10-04 16:00] #476 closed

[2020-10-04 18:31] #342 closed

[2020-10-04 19:09] maniac-en commented on #353
Brainfuck isn't working for me, I was doing a task from tryhackme [room](https://tryhackme.com/room/ctfcollectionvol1)

#### Encoded text

[code]
#### Expected output
[code]
#### Actual output
![Screenshot from 2020-10-05 00-38-12](https://user-images.githubusercontent.com/45049766/95024809-1d8abe80-06a3-11eb-9496-813ec9e283cd.png)

[2020-10-04 19:25] SkeletalDemise commented on #353
Brainfuck was added very recently. Ciphey release 5.8.0 is not on PyPI yet, so you cannot pip install it. You'll have to wait.

[2020-10-04 21:37] SkeletalDemise commented on #353
The latest release is now on PyPI, do `pip install ciphey --upgrade` to get the latest version.

[2020-10-04 22:21] #343 closed

[2020-10-05 00:16] bee-san commented on #474
Go ahead! :D Translate the README, the wiki cannot be translated :(

[2020-10-05 04:15] w3Abhishek commented on #474
thanks for allowing me to do so. I will submit my PR very soon

[2020-10-05 04:55] lordnodd commented on #474
Hey hindi? Indians speak english fine, we don't need a hindi docs, try doing actual work next time and don't slack off. @bee-san I think its not needed we adopted UK english, most of our law proceedings also takes place in english.

[2020-10-05 05:36] w3Abhishek commented on #474
Okay, then I won't. Let's see is there anything else I can improve in the code itself.
Thanks.

[2020-10-05 09:15] Albertosaurusrex commented on #474
I think when the "founder" of the project say that @w3Abhishek can go ahead and translate it, it's that. There's absolutely no harm in translating it?

If @w3Abhishek wants to translate it, let them! It's to absolutely no cost to anyone but them, but if they want to take the time, they can do it?

[2020-10-05 10:39] chrisdukey commented on #253
Just had this same issue on Catalina. Turns out ciphey was looking for the Frameworks directory in `/usr/local/opt/python@3.7` whereas my python 3 directory was just `/usr/local/opt/python3`. I created a symbolic link in `/url/local/opt` and that fixed it (`ln -s python3 python@3.7`).

[2020-10-05 11:03] w3Abhishek commented on #474
Thanks @Albertosaurusrex
I am gonna translate and do the job. :)

[2020-10-05 11:41] bee-san commented on #474
Here's the deal. **I don't care**. Translate it to Latin for all I care. Of course, we like more contributions to crackers / decoders -- but we don't care.

It's a win/win as far as I can see.

**They get hacktoberfest merch**

**We get more contributors, which makes the project look more impressive -- especially in job interviews**.

Go ahead and translate it. And if someone else is reading this

[2020-10-05 11:52] Ozzyz commented on #356
I would say one key thing missing from the docs is that currently (AFAIK) anything that does not have a well defined 1-1 mapping when decoding needs to be implemented as a cracker. For instance #412 - the Soundex encoding has a 1-N mapping when encoding, so this needs to be a cracker when decoding.
This is particulary confusing since the definition of encoding is "Any form of encryption that doesn

[2020-10-05 11:55] bee-san commented on #356
Edited! :) https://github.com/Ciphey/Ciphey/wiki/Adding-your-own-ciphers

[2020-10-05 12:05] Cyclic3 commented on #474
I think you are missing the reason we accept translations. Because of the English-speaking origins of the Internet, a majority of technical discussion and implementation happens in English (pretty much all programming languages are english-based). As a result, this distribution also comes across into Ciphey, and with free online translation services, the rest can still divine some meaning from eng

[2020-10-05 12:50] bee-san commented on #438
Reassigned issue due to no communication :)

[2020-10-05 14:29] Audition-CSBlock commented on #253
@chrisdukey haha! exactly what i did 2 days ago, forgot to add the comment. Thanks for confirming! 👍

[2020-10-05 14:35] bee-san commented on #253
I don't think there's anyway for us to incorporate this into Ciphey itself :( I'll leave a note on the installation page though. Thanks so much for contributing :D

[2020-10-05 17:58] Ozzyz commented on #388
This should be closed, since this is no longer the case in the master branch of CipheyCore. It is however still in `v.0.3.1`, and is as far as I can see due to the following snippet https://github.com/Ciphey/CipheyCore/blob/d7c7725bba90971e9757be1f039403c9e935ec71/include/ciphey/swig.hpp#L190-L195

[2020-10-05 18:01] Ozzyz commented on #388
Also, a quick way to ensure that this code path is the one leading to this issue is to create a small `py` file anywhere in the Ciphey project with the following:
[code]
By running this file you can observe the random hex output

[2020-10-06 05:41] mitchm0728 commented on #474
Unsubscribe

On 05/10/2020 5:15 PM, "Albert" <notifications@github.com> wrote:

doing actual work next time and don't slack off. @bee-san I think its not
needed we adopted UK english, most of our law proceedings also takes place
in english.

ahead and translate it, it's that. There's absolutely no harm in
translating it?

cost to anyone but them, but if they want to take the time, they can do it?

[2020-10-06 06:16] chuinzer commented on #474
then what's the point of the creators accept different language translations? you should read what @Cyclic3 said above

[2020-10-06 07:04] w3Abhishek commented on #474
Should I go for it or not. Very confused

[2020-10-06 07:40] Albertosaurusrex commented on #474
@w3Abhishek Go for it.

[2020-10-07 00:11] RotationMatrix commented on #345
I'm interested at having a crack at this one (couldn't resist the pun 😄 ).

Looking at shotgun hill-climbing and simulated annealing methods for this.
Any suggestions on how to handle the missing I/J/Q?

[2020-10-07 07:41] #433 closed

[2020-10-07 10:49] lordnodd commented on #474
cool, I get your point.

[2020-10-07 12:21] Mr-Salme commented on #352
https://github.com/Ciphey/CipheyCore/wiki/Cyclic3's-guide-to-CipheyCore-(CPP-side)
https://github.com/Ciphey/Ciphey/wiki/Adding-your-own-ciphers
This is pretty much all we have in the way of guides to making the cracker. Cyclic is the one who knows how to do all of this.

[2020-10-07 12:40] Mr-Salme commented on #350
Can this be assigned to me?

[2020-10-07 16:19] Audition-CSBlock commented on #253
@bee-san I actually think there may be a way! I've looked through the cipheycore repo and saw some lines including the path of python.

Sadly though I don't know much about c++ but @Cyclic3 might since he wrote much of the code I think? Hope this helps a bit :).

[2020-10-08 06:58] Visual-mov commented on #422
Hey I could help with this if you need it, sounds pretty interesting.

[2020-10-08 09:47] inzombakura commented on #422
Yes please do! Come join the discord.
I have a working version of the decoder on repl: https://repl.it/repls/AccuratePrevailingUnits#main.py
Pretty sure all we need to do is find a good english dictionary to use for it which somebody else is working on and to integrate it with ciphey which I really don't know how to do.

[2020-10-08 20:08] Visual-mov commented on #422
Ah I see. My Discord username is Vismov.

[2020-10-09 07:41] Ozzyz commented on #388
@bee-san , @Cyclic3 - should this be closed as it is no longer in CipheyCore master? Also, this is/was a problem related to CipheyCore, not Ciphey itself.

[2020-10-09 11:21] #388 closed

[2020-10-09 13:40] laenNoCode commented on #436
hey ! i can work on it. I'm a native french speaker

[2020-10-09 17:09] alright21 opened #489 "JWT header and payload decode (base64 with dots)"
### Problem:
There is no way to decode faster JWTs

### Solution:
They are base64 divided by a dot, there should be a way to check this, and it should be really easy to decode it

[2020-10-09 23:46] SkeletalDemise commented on #489
Hello. I am wondering, what do you think we should do with the JWT signature? Each JWT (JSON Web Token) is split into 3 sections, the header, the payload, and the signature. Both the header and the payload can be decoded with Base64, but the signature can only be decrypted if you have the secret key.

I've made a quick decoder that appends the Base64 encoded signature at the end. What do you think

[2020-10-10 06:26] alright21 commented on #489
Hi again! Yes, that's what I was thinking about. I know that the signature cannot be decrypted, but the first two parts can. So if it is possible to recognize the dots separator and decrypt the header and the payload automatically, it will be great! The format is correct. Thank you for your answer!

[2020-10-10 08:21] #346 closed

[2020-10-12 13:02] #432 closed

[2020-10-13 09:24] puranjaymohan commented on #352
@lukasgabriel I have read the guides but I am confused about how the double transposition cracker can be implemented

[2020-10-13 21:40] #213 closed

[2020-10-14 10:15] #412 closed

[2020-10-16 07:06] #262 closed

[2020-10-16 07:55] SkeletalDemise commented on #289
I am closing this issue because it's solved. Currently running `ciphey -t "Ecgudfxq_EcGmP"` works for me, without using regex. It gets decrypted by the Affine cracker (this is because Affine with a = 1 is the equivalent of a Caesar cipher) and then the underscore gets converted to a space by the leetspeak decoder.

[2020-10-16 07:55] #289 closed

[2020-10-16 08:06] SkeletalDemise commented on #215
I am closing this issue because it appears to be fixed. I can't reproduce the bug when doing `ciphey -f test_base64.txt` with `test_base64.txt` containing `dGVzdCBiYXNlNjQgb3V0cHV0Cg==`

[2020-10-16 08:06] #215 closed

[2020-10-16 08:16] SkeletalDemise commented on #377
I am closing this because I don't see any reason to make Atbash into a cracker. Since we are trying to get rid of CipheyCore and because Atbash doesn't have a key, and also doesn't return multiple results, I see no reason to make it into a cracker.

[2020-10-16 08:16] #377 closed

[2020-10-16 08:29] SkeletalDemise commented on #388
@Cyclic3 this bug is still an issue because CipheyCore hasn't been updated and is still on 0.3.1. Can you release CipheyCore 0.3.2 on PyPI? Thank you.

[2020-10-16 08:55] SkeletalDemise commented on #348
I am currently working on Vigenere in Python along with Vigenere variants like this. No one should work on this, as they will all need to be somewhat together.

[2020-10-16 09:01] SkeletalDemise commented on #349
It is true that Beaufort is Vigenere with Atbash. Here is a test you can do: `ciphey -t "Wotx nj p cxxc ib dxl nw Unvlixyr xctnmry tnii Viovji nj wox xvpl vj Orbvqnyc"`

I would still leave this issue open because it would be nice to have it show "beaufort" and not "atbash" and "vigenere"
It will be really easy to add this once I complete Vigenere in Python.

[2020-10-17 22:27] Cyclic3 commented on #388
Release

[2020-10-17 22:29] Cyclic3 commented on #489
This would be a good use-case for the polymorphic decoder/checker, where we could create a type for JWTs, and set them as valid plaintexts

[2020-10-18 02:17] SkeletalDemise commented on #489
That sounds good. I've already made a JWT decoder, but it doesn't work because the checkers don't consider it to be valid English or JSON.

[2020-10-18 02:22] SkeletalDemise commented on #388
This is fixed now.

[2020-10-20 16:23] jepunband opened #508 "cipheycore error"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [* ] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)
Yes.

**Describe the bug**

A clear and concise description of what the bug is.
ERROR: Could not find a vers

[2020-10-26 07:21] 547y4m opened #518 "Missing underscores while decoding a Atbash string."
- [ ] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)
---->Yes

**Describe the bug**
A clear and concise description of what the bug is.
-----> Underscores are neglected while outputting decoded string which is encoded with atbash cipher.

**Plaintext**
[code]

**Version**
 - OS/Distro: [Kali Linux 2019.2]
 - P

[2020-10-26 11:35] SkeletalDemise commented on #518
This is a result of the leetspeak decoder and not the atbash decoder. The atbash decoder doesn't get rid of punctuation or special characters. You can test this with
`ciphey -t "Tizmg_nv_zxxvhh_gl_gsv_nzk_kovzhv" -C regex -p regex.regex=Grant_me`

The leetspeak decoder replaces underscores with spaces because people usually use underscores to represent spaces. I don't see the problem with your exa

[2020-10-26 11:43] 547y4m commented on #518
I admit it but while testing same with cyberchef  atbash module it outputs with underscores. So, just feeled that it's any kindof bug or something.

[2020-10-26 11:50] SkeletalDemise commented on #518
Well, what do you suggest? Is there a situation that you can think of that would actually make this an issue?

[2020-10-26 13:34] 547y4m commented on #518
Yes, you should if it can be easily fixed because i don't think that adding underscores requires much manipulation in code. And as a ciphey contributor/lover i would like that it will perform well and beats other competitor.

The situation/scenario happens with me yesterday, that even i get the decoded text but my flag format is wrong and i have to shift on cyberchef from ciphey to get the correct

[2020-10-27 00:42] yihong0618 opened #519 "Add support for Base64 + Gzip"
### Problem:
Hi~
When I use ciphey I try to decode this code belowe
[code]
![image](https://user-images.githubusercontent.com/15976103/97242359-a2926f00-182e-11eb-8cba-f102832a0518.png)

The ciphey  only show its `Base`

But I It’s a base64 encoded zipped string. when it starts something like `H4sIAAAAAAA.........`

![image](https://user-images.githubusercontent.com/15976103/97242988-3ca6e700-1830

[2020-10-27 12:11] bee-san commented on #519
That's an ancient version of Ciphey (2+ years old). Please use the latest version :)

[2020-10-27 12:11] #519 closed

[2020-10-27 12:13] yihong0618 commented on #519
@bee-san Thanks a lot. I will update right now.

[2020-10-27 12:16] bee-san commented on #518
This problem is because "hello_my_name_is_bee" isn't English unless you take away the underscores. Per [our wiki](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions#ciphey-runs-forever--cant-decrypt-this-input) this is expected behaviour that will change with [our new checkers](https://github.com/Ciphey/Ciphey/wiki/Checkers,-explained#entropy-coming-soon) :smile:

[2020-10-27 12:16] #518 closed

[2020-10-30 16:40] TBO9IMAMKA234 commented on #508
I solved this problem by installing 64 bit Python.
If you have a Windows operating system, of course

[2020-11-06 01:00] pkubiak opened #530 "Exception when trying Baudot cipher"
- [x] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
When ciphey is run as follow:
[code]
during the search the exception is thrown:
[code]

**Version**
 - OS/Distro: Arch
 - Python version: 3.8.6
 - Ciphey versions: ciphey: 5.10.0, cipheycore: 0.3.2, cipheydists: 0.3.33
 - Did you use Do

[2020-11-06 13:14] Itamikame commented on #530
Hello pkubiak,

i am the one who implemented the baudot decoder.
I didn't include a mapping for "00000" because that would translate into null and i thought that would not be necessary but will add it to the mapping as an empty character so that no error happens.

Kind Regards

Itamikame

[2020-11-07 00:05] pkubiak commented on #530
Hi @Itamikame, thanks for your reply.
Sure, If 00000 is a legal code then it is good idea to support it, but I think that If a message can not be decoded using baudot then no exception should be raised. The message could still have been encoded using a different cipher even if it looks like a Baudot. Especially message such as:
[code]
Should not generate any exceptions. So I think that little chan

[2020-11-15 10:39] DrPleaseRespect opened #541 "Ciphey cannot solve this "QlJVSCBNT01FTlQgTE1BTw==" base64 message"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [X] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
I don't know if this is a bug but Ciphey can't decrypt this simple base64 message that

[2020-11-17 19:25] phast184 commented on #422
Hi, I would like to work on this. Please assign it to me. Thanks

[2020-11-18 09:37] gamersover opened #543 "will hashes usable in future?"
Noticed that `Hashes are turned off right now due to some bugs with external services we cannot control.`，so will hashes usable in future? Or how can i turn it on? Thank you.

[2020-11-20 21:01] MrKomodoDragon opened #544 "Ciphey ImportError"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [x] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
When I attempt to run `ciphey -t 6369636164612033333031`, it gives my an ImportError.

[2020-11-20 22:06] SkeletalDemise commented on #541
This is an issue with Ciphey's checkers, as Ciphey can decode it if you use regex: `ciphey -t "QlJVSCBNT01FTlQgTE1BTw==" -C regex -p regex.regex=MOMENT`

I think it's because your string is too short, and it doesn't get caught by Ciphey's checkers. It also seems like Ciphey doesn't consider "BRUH" and "LMAO" to be English. If you Base64 encode "WOW MOMENT LMAO" and try it, it works and Ciphey deco

[2020-11-20 22:18] SkeletalDemise commented on #543
Support for hashes will be available in the future. I know that @bee-san was working on hash support with a forked version of HashID to identify hashes and John the Ripper and/or HashCat to crack hashes. We'll also support API keys for hash lookups. It's very exciting but you'll have to wait for now.

[2020-11-23 01:56] gamersover commented on #543
Thanks for your reply

[2020-11-23 01:56] #543 closed

[2020-11-24 02:32] #530 closed

[2020-11-24 08:30] #439 closed

[2020-11-25 00:49] vivienicepig opened #548 "morse code cannot detect"
### Problem:
easy morse code like
test
. .- ... -.-- -- --- .-. ... .
cannot detect

[2020-11-25 09:52] Itamikame commented on #548
your morse code is without a space between easy and morse thats why it doesnt detect it
if you use
`. .- ... -.-- / -- --- .-. ... .`
it works without any problems

[2020-11-25 21:12] SkeletalDemise commented on #548
This isn't a problem with the Morse code decoder. It's because the final result has no spaces between the words. This is a problem with Ciphey's checkers. A checker for English with no spaces is being worked on. This should be fixed soon.

[2020-11-28 14:44] iNTELIex commented on #548
I agree it should be fixed.

[2020-11-28 18:05] smarek commented on #508
For Linux, this might be because of outdated PIP tool, upgrade pip3 first, then install ciphey
[code]

[2020-12-06 13:20] noraj opened #556 "[Chore] setup.py"
Hi,

Could you provide a setup.py please?

https://packaging.python.org/tutorials/packaging-projects/#creating-setup-py

[2020-12-08 02:37] DCsunset opened #558 "Ciphey TypeError with Python 3.9"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [x] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
After installing Ciphey using pip3, running Ciphey with any argument will cause the pro

[2020-12-08 18:38] bee-san commented on #556
No, because setup.py is ancient technology and pyproject is used.

[2020-12-08 18:38] #556 closed

[2020-12-09 17:33] tushroy commented on #300
experiencing same with following input
`ciphey -t "KFMGQ3C2K5TWOVKHNBZFUWDDOVEUORTPMNBUEMDBGNTWOY3NNB2Q===="`

its just stuck

[2020-12-09 19:15] noraj commented on #556
Setup.py is not an ancient technology but there are several ways to do it. Doing it with distutils is deprecated but doing it with setuptools is the actual way to do it. It would be much more easier to distribute as we planned to package it into BlackArch linux.

[2020-12-09 20:31] SkeletalDemise commented on #558
You say you are using Ciphey `5.11.0`. That release is broken and was pulled from PyPI. You need to downgrade to Ciphey version `5.10.0`. Try seeing if that fixes the error.

[2020-12-10 00:16] DCsunset commented on #558
Thank you for your reply.

I have downgraded Ciphey to `5.10.0`, but the same error still occurs, with some slight changes:

[code]

The versions of related packages:

* ciphey: 5.10.0
* cipheycore: 0.3.2
* cipheydists: 0.3.34

[2020-12-10 00:33] SkeletalDemise commented on #558
Hello, although Python 3.9 on Linux should work for CipheyCore, can you try using Python 3.8 or 3.7 instead of Python 3.9? Someone else had this error before and using Python 3.7 or 3.8 worked.

[2020-12-10 01:07] DCsunset commented on #558
I have tried Python 3.8 and this error doesn't occur anymore. It seems a specific error using Python 3.9.

[2020-12-14 08:47] dependabot-preview[bot] opened #564 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/Ciphey/update-logs/59110242).

[2020-12-14 14:32] #564 closed

[2020-12-14 20:26] bee-san commented on #556
Thanks for that! We'll look into adding it :)

[2020-12-16 07:52] Kilala-Z opened #566 "When install python3.9 with pyenv in macOS, something wrong report."
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [✅ ] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
I install python3.9 with pyenv, when I try exec ciphey, an error report.

**Plaintext*

[2020-12-17 18:29] cocoonkid commented on #558
3.8.6 here. Same error

[2020-12-24 16:42] nicolaipre commented on #300
@lukasgabriel Since nobody posted any debug logs here, here is one for reference for a similar problem.

Seems like it always gets stuck at xorcrypt.

[code]

[2020-12-27 14:48] adigeefe commented on #558
[code]

[2021-01-02 01:24] johnny125 opened #573 "Ciphey-3.0.5.dist-info is installed instead of the package"
I read the whole documentation and installation guide along with the issues but I could not find a solution or an explanation to my problem :

I installed Ciphey on windows 10 64 bit and followed the installation instruction as written in this page :

https://github.com/Ciphey/Ciphey/wiki/Installation

I have python 3.9 and pip 20.0.7 . My python is an 64 bit version :

python -c "import sys; prin

[2021-01-02 23:46] SkeletalDemise commented on #573
Ciphey 3.0.5 is an extremely old version. I'm not sure why it installed that version instead of the newest. Try running `pip install ciphey==5.10.0`. After that, you should be able to run ciphey like this for example: `ciphey -t "VGhpcyBpcyBhbiBleGFtcGxl"`

[2021-01-02 23:55] SkeletalDemise commented on #566
I'm closing this issue because as explained on our [Common Issues & Their Solutions](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions) page, Ciphey doesn't currently work on MacOS without using Docker.

[2021-01-02 23:55] #566 closed

[2021-01-03 00:05] SkeletalDemise commented on #508
I'm closing this issue because you didn't fill out the full issue template so we don't know what system you're on and what versions. This error is usually caused by not using 64 bit Python and/or not using Python 3.7 or 3.8.

[2021-01-03 00:05] #508 closed

[2021-01-03 00:13] johnny125 commented on #573
Hello , Thank you for your reply . I tried the command you write me : **pip install ciphey==5.10.0** . However it gives this error :

**ERROR: Could not find a version that satisfies the requirement cipheycore<0.4.0,>=0.3.2 (from ciphey)
ERROR: No matching distribution found for cipheycore<0.4.0,>=0.3.2**

[2021-01-03 00:16] SkeletalDemise commented on #573
Ah, Ciphey doesn't work with Python 3.9 currently. You'll need to use either Python 3.7 or Python 3.8 64 bit.

[2021-01-03 18:34] johnny125 commented on #573
Thank you very much 👍 :)

[2021-01-10 05:22] asjdf opened #577 "'module' object is not callable"
[code]
**Version**
**⚠️IMPORTANT⚠️ We need this information because different environments will induce different bugs in Ciphey**
 - OS/Distro: Windows10
 - Python version: Python 3.7.8
 - Ciphey versions: ciphey 5.11.0
 - Did you use Docker? No.

**Verbose Output**
[Pastebin](https://pastebin.com/bHg4MRc8)

**To Reproduce**
Steps to reproduce the behavior:
1. What input did you use?
 ciphey -t "5

[2021-01-12 16:33] Itamai commented on #577
I dont get the error for me it is stuck at the thinking process because ciphey only can detect english text/words

[2021-01-12 17:51] Apocsword commented on #577
Need to learn more languages

[2021-01-16 09:59] asjdf commented on #577
ciphey -t "amRm"
Traceback (most recent call last):
  File "c:\users\24385\appdata\local\programs\python\python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\24385\appdata\local\programs\python\python37\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\24385\AppData\Local\Programs\Python\Python37\Scripts\ciphey.exe\__ma

[2021-01-16 16:00] MisakaNatsu commented on #577
look for this file :site-packages/ciphey/ciphey.py
change the line"import yaspin" to "from yaspin import yaspin"
then try again.

[2021-01-16 16:00] MisakaNatsu commented on #577
a update led to this problem

[2021-01-18 16:07] 7Ragnarok7 opened #579 "TypeError: Multiple inheritance with NamedTuple is not supported"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [x] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
I am getting the following error when I run ciphey :
[code]
**Plaintext**
**⚠️IMPORTANT

[2021-01-19 00:32] SkeletalDemise commented on #577
I'm going to close this. This error is because Ciphey version 5.11.0 is broken and it was pulled from PyPI a while ago. Run the command `pip install ciphey==5.10.0` to downgrade to version 5.10.0 to fix it. Once we release the next version, this will be fixed so it will no longer install 5.11.0.

[2021-01-19 00:32] #577 closed

[2021-01-19 00:38] SkeletalDemise commented on #579
The error is because you are using Python 3.9. Ciphey currently only works with Python 3.7 and Python 3.8. You'll need to downgrade to use Ciphey. We are trying to make Ciphey support Python 3.9.

[2021-01-21 10:34] 7Ragnarok7 commented on #579
Oh okay. Thanks for the information ^_^
Closing the issue.

[2021-01-21 10:34] #579 closed

[2021-02-01 11:41] machinexa2 opened #580 "Make lazy-object-proxy>=1.5.2 in requirements.txt and change code in similar way"
Make lazy-object-proxy>=1.5.2 in requirements.txt and change code in similar way
Close this issue when done.

[2021-02-01 11:49] SkeletalDemise commented on #580
Can you explain what you mean? We don't have a requirements.txt anymore as it wasn't needed. `lazy-object-proxy` also isn't in pyproject.toml and it doesn't look like we import it anywhere in Ciphey.

[2021-02-01 15:38] HumanCodingMachine opened #581 "pip! cannot find cipheycore."
I'm continually trying to install Ciphey, yet I'm unable to do so due to a dependency error.

Error:

ERROR: Could not find a version that satisfies the requirement cipheycore<0.4.0,

ERROR: No matching distribution found for cipheycore<0.4.0,>=0.3.2 (from ciphey)

[2021-02-01 23:57] #580 closed

[2021-02-02 08:28] machinexa2 commented on #580
Looks like its a issue of astroid module rather than ciphey

[2021-02-02 08:28] machinexa2 commented on #580
sorry for inconvenience

[2021-02-03 16:42] eggman64 commented on #558
This is caused by to https://github.com/python/cpython/pull/19363

[2021-02-09 14:25] harens opened #583 "Document MacPorts Installation"
Hi there 👋

I originally came here to write a [Homebrew](https://brew.sh) formula for Ciphey https://github.com/Ciphey/Ciphey/issues/197. Half a year later, and I'm proud to announce that Ciphey has now instead been added to [MacPorts](https://www.macports.org)!

__TL;DR: To (hopefully) solve your macOS installation issues, run the following:__

[code]

The project page can be found [here](https:/

[2021-02-09 17:54] harens commented on #197
Just looking back at this issue more than six months later, who would've thought that Ciphey would finally be added to MacPorts.

For any future readers, the poetry cyclic dependency issue is no longer a problem, and please don't use the Formulae/Portfiles I attached as a basis for anything (looking back on them, they're not great...). I left my thoughts in https://github.com/Ciphey/CipheyCore/iss

[2021-02-09 18:58] harens commented on #474
I know this issue was opened a while ago (and this is slightly off topic), but I don't know how I feel about this viewpoint.

I spent a lot of time making Ciphey installable via MacPorts https://github.com/Ciphey/Ciphey/issues/583 and making it easier for other package maintainers to add it to their package manager by writing up different pitfalls and solutions https://github.com/Ciphey/CipheyCore

[2021-02-09 20:20] bee-san commented on #197
Woah! So awesome @harens  👏  We're currently re-writing Ciphey without the C++ core to make it more compatible for other OS' :D

[2021-02-09 20:56] Redst0neFlux opened #584 "Anagram support?"
Have you considered adding support for anagrams
it could be done using this [https://github.com/patrickleweryharris/anagram-solver](https://github.com/patrickleweryharris/anagram-solver)

[2021-02-09 22:08] harens commented on #556
Hi @noraj! 👋 It's good to see a fellow package manager, so I thought I'd offer some advice.

Just so you know, the [source distribution](https://pypi.org/project/ciphey/#files) from PyPi comes with a `setup.py`. This is how we dealt with it over at [MacPorts](https://www.macports.org) (by downloading the distfiles from PyPi rather than GitHub).

Just another thing, if you're still planning on pack

[2021-02-10 18:35] #583 closed

[2021-02-10 18:39] bee-san commented on #584
That's cool! We already have a dictionary of English words so this should be easy to implement :D

[2021-02-10 23:07] bee-san commented on #474
Hey! You're right! Sorry, I have autism so sometimes the words come out of me wrong. I meant it like "all contributions are actually great. I don't care if you do a small spelling fix, or a very large feature request. Both are equally amazing and I am so thankful that someone has taken time out of their busy day to do _something_ for this project".

And also, more contributors is better for the pr

[2021-02-11 09:55] harens commented on #474
Thanks for clarifying @bee-san. I'm sorry I misunderstood what you meant, and I'm glad that all contributions are appreciated.

I really did mean it though when I say thank you to you and the other maintainers for putting your time and effort into this project. Your dedication into making a well-documented, super fast and easy-to-use tool for everyone to use is greatly appreciated. Thank you!

I'd

[2021-02-18 11:56] linkangren opened #587 "MAC operation error"
File "/Users/linkangren/opt/anaconda3/envs/paddle_env/bin/ciphey", line 8, in <module>
    sys.exit(main())
  File "/Users/linkangren/opt/anaconda3/envs/paddle_env/lib/python3.7/site-packages/ciphey/__main__.py", line 302, in main
    cipherObj.decrypt()
  File "/Users/linkangren/opt/anaconda3/envs/paddle_env/lib/python3.7/site-packages/ciphey/__main__.py", line 128, in decrypt
    self.one_level_

[2021-02-19 16:03] SkeletalDemise commented on #581
I'm closing this because you didn't fill out the Issue template.

[2021-02-19 16:03] #581 closed

[2021-02-19 16:03] SkeletalDemise commented on #587
I'm closing this because you didn't fill out the Issue template.

[2021-02-19 16:03] #587 closed

[2021-02-20 10:48] scott-m-willett commented on #558
Workaround for now may be to comment out line 1880 and 1881 from the file /usr/lib/python3.9/typing.py or the equivalent in your case (line 1820 in your case). Worked for me. Could be other consequences out of this in the future.

This may help you find the lines

def _namedtuple_mro_entries(bases):
    # if len(bases) > 1:
        # raise TypeError("Multiple inheritance with NamedTuple is not sup

[2021-02-28 02:02] #558 closed

[2021-03-03 01:32] amalyaoldano opened #590 "What is this"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [ ] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
A clear and concise description of what the bug is.

**Plaintext**
**⚠️IMPORTANT⚠️ The

[2021-03-03 01:41] #590 closed

[2021-03-08 19:46] bee-san opened #591 "6.0.0 release"
This is currently being undertaken, and as such the growth of Ciphey has slowed.

We are working towards:
* Removing CipheyCore
* Improving Language Checkers

- [ ] #612  <- This is currently being worked on
- [ ] #641 <- This is currently being worked on
- [ ] #642  <- @SkeletalDemise  has completed this locally but not made a PR
- [x] #626 and #628  <- This is being worked on

[2021-03-08 19:46] #13 closed

[2021-03-08 19:46] #101 closed

[2021-03-08 19:48] bee-san commented on #238
This is being fixed in #591

[2021-03-08 19:48] #238 closed

[2021-03-08 19:48] bee-san commented on #253
This is being fixed in #591

[2021-03-08 19:48] #253 closed

[2021-03-08 19:49] bee-san commented on #319
This is being fixed in #591 (presumably)

[2021-03-08 19:49] #319 closed

[2021-03-08 19:50] bee-san commented on #395
This is being fixed in #591

[2021-03-08 19:50] #395 closed

[2021-03-08 19:50] bee-san commented on #362
This is being fixed in #591

[2021-03-08 19:50] #362 closed

[2021-03-08 19:51] bee-san commented on #489
Is this solved by Chi-Squared / Entropy, or does it need another checker?

[2021-03-08 20:29] SkeletalDemise commented on #489
No, the Chi Squared and/or Entropy checkers won't work. Cyclic's idea would work though.

[2021-03-08 20:43] Audition-CSBlock commented on #253
@bee-san ty!

[2021-03-24 08:51] bee-san opened #594 "Write a bunch of tests for Chi Squared to benchmark against"
See #593

[2021-04-03 18:15] amalyaoldano opened #597 "Z"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [ ] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
A clear and concise description of what the bug is.

**Plaintext**
**⚠️IMPORTANT⚠️ The

[2021-04-03 18:23] SkeletalDemise commented on #597
I'm closing this because you didn't fill out the issue template.

[2021-04-03 18:23] #597 closed

[2021-04-10 06:41] hkatzdev opened #600 "Freezes on xorcrypt cipher"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [X] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
A clear and concise description of what the bug is.
Ciphey freezes on `ciphey -t "tJseA

[2021-04-10 11:40] Anon-Exploiter opened #601 "[Bug] Can't decode rot47 encoded string"
- [x] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)

**Describe the bug**
Ciphey can't decode a rot47 encoded string.

**Plaintext**

[code]
**Version**
 - OS/Distro: Linux -- Ubuntu 20.04
 - Python version: Python 3.8.5
 - Ciphey versions: 5.11.1, 0.3.2, and 0.3.34
 - Did you use Docker? Nope

**Verbose Outp

[2021-04-10 11:41] Anon-Exploiter commented on #601
[Probably] Helpful screenshots:

Cyberchef link: https://gchq.github.io/CyberChef/#recipe=ROT47(47)From_Base64('A-Za-z0-9%2B/%3D',true)From_Base64('A-Za-z0-9%2B/%3D',true)From_Base64('A-Za-z0-9%2B/%3D',true)From_Base64('A-Za-z0-9%2B/%3D',true)From_Base64('A-Za-z0-9%2B/%3D',true)&input=Jzt1MjI%2BJ3YkKT0nMmEjQiY%2BYGMnPStDKD81KHwpcSoqYkF2Mj0rRTVzJyt8dSZJJ3ZESSh1QXQmPSsofGB5eCcpQXYjPid2JT99OiM9KyknO3

[2021-04-10 16:25] #594 closed

[2021-04-10 22:11] bee-san opened #604 "Print all decryptions even if it's not the plaintext"
For every possible decryption, Ciphey should print that decryption even if it's not the plaintext. We can use verbosity level 1 for this. The user can manually search through it if they like :shrug:

[2021-04-12 05:43] FalcoGer opened #605 "Unable to Ctrl+C abort"
**⚠️IMPORTANT⚠️ if you do not fill this out, we will automatically delete your issue. We will not help anyone that cannot fill out this template.**

- [X] Have you read our [Wiki page "Common Issues & Their Solutions"?](https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions)
Yes

**Describe the bug**
When running ciphey on a bare, unsalted NT hash using `ciphey -f hash.txt -w ~/repo

[2021-04-13 19:58] bee-san commented on #605
Hey, I think thiis is due to cipheycore which is set for ~~being burnt to the ground~~ archival. We're fixing this ASAP as our
#1 priority :D

[2021-04-14 21:51] Anon-Exploiter commented on #601
Closing due to no replies.

[2021-04-15 08:57] bee-san commented on #601
This is fixed by using the regex checker :-) An option to use the the specific regex will be added soon :D

[2021-04-16 08:24] bee-san commented on #600
Hey, this is fixed in 6.0.0 where we remove the xorcrypt cipher 😅  https://github.com/Ciphey/Ciphey/issues/591

[2021-04-23 08:47] hkatzdev commented on #600
Oh, sorry! I'll close this issue then.

[2021-04-23 08:47] #600 closed

[2021-04-25 20:13] shockz-offsec opened #606 "Ciphey can't decrypt Caesar cipher + Base64"
In order to improve the tool I provide the text, said text has an encoding of twice BASE64 followed by an encryption caesar +14 (shift).
I tried several times if I could get it out but nothing.
It just could decode the first 2 BASE64 but i cant with the Caesar(+14)

I attach the text:
[code]

If this post is inappropriate delete it.
Still excellent tool.

[2021-04-26 07:09] Anon-Exploiter commented on #601
Awesome! In my case, I didn't know the format of the credentials. Hopefully, after the integration of many patterns, we'll succeed.

[2021-04-30 16:13] bee-san commented on #606
What's the plaintext? <3

[2021-05-01 16:33] jmlgomez73 commented on #606
[code]

[2021-05-10 21:06] bee-san opened #612 "Add XorTool to Ciphey"

[2021-05-15 08:52] mohzulfikar opened #615 "Docker link on README doesn't point to docker hub"
### Idea
_What exactly do you want to do?_
The link on README for docker (universal) points to PyPI instead of docker hub. Was this on purpose?

### Pros
_How would it help the code? Does it make things faster, or the code more maintainable?_
if it's not on purpose, then I want to fix it (it seems like the translation is also affected). So that it doesn't confuse the user.

### Cons
_Would this br

[2021-05-17 18:28] C3x64 opened #616 "Hai there, my distro have pip disabled , what to do?"
Hello there everyone, small disclaimer :read this if you're chill person, I am autistic and I trigger people with out knowing , I can't function in society with out annoying people or being constantly misinterpreted, so if you're pissy type, just ignore me please.

### Problem:
Can't install pip, probably cause i'm stupid, and i don't like spending whole day troubleshooting , and mindlessly copy p

[2021-05-18 04:54] SkeletalDemise commented on #616
What distro are you using? It should be easy to install pip on most distros if it's not already installed. Also it would be easier to join the Discord to get help with installing Ciphey.

[2021-05-18 09:25] bee-san commented on #615
Sure! If there's a dockerhub image submit a PR :)

[2021-05-18 09:34] bee-san commented on #616
@C3x64 :

See https://github.com/Ciphey/Ciphey/wiki/Common-Issues-&-Their-Solutions#ciphey-runs-forever--cant-decrypt-this-input

For why this is happening 😄

[2021-05-18 09:54] mohzulfikar commented on #615
Hi, thanks for the reply. I'll open the PR shortly.

[2021-05-19 10:08] #615 closed

[2021-05-19 10:52] C3x64 commented on #616
o thank you, also my distro is mint 19.3

I did installed pip but it bugged cinnamon session, needed to revert.
message was "pip is disabled something something warning"

[2021-05-20 09:10] bee-san opened #620 "Implement search-that-hash for hash cracking"
This looks good!
https://github.com/HashPals/Search-That-Hash

[2021-05-20 09:10] bee-san opened #621 "Use Xortool instead of custom XOR cracker"
We should be able to import this as a library :-)

https://github.com/hellman/xortool